<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	<meta name="description" content="{{page_description}}">
	<meta name="keywords" content="{{page_keywords}}">
	<link href="https://fonts.googleapis.com/css?family=Kadwa&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
	<script defer src="/stylesheets/fontawesome/js/all.js"></script>
	<link rel='stylesheet' href='/stylesheets/index_p.css' />
	<link rel='stylesheet' href='/stylesheets/mobile.css' />
	<link rel='stylesheet' href='/stylesheets/mobile.css' />
	<link rel="stylesheet" href="/stylesheets/energies_v.css">
	<link rel="stylesheet" href="/stylesheets/index_p--revision.css">
	<script src="/plugins/JQUERY/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.fancybox-2.1.5.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.fancybox-2.1.5.min.css" media="screen">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.fancybox-3.5.7.min.css" />
	<script src="/js/jquery.fancybox-3.5.7.min.js"></script>
	<script src="/js/imageMapResizer.min.js"></script>
	<script src="/js/search.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
	<script src="/js/owl.carousel.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
	<script src="/js/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/owl.theme.min.css">
	<!-- Resources -->
	<script src="/js/amcharts/core.js"></script>
	<script src="/js/amcharts/maps.js"></script>
	<script src="/js/amcharts/charts.js"></script>
	<script src="/js/amcharts/animated.js"></script>

	{{!-- <script src="/js/world.js"></script> --}}
	<script src="/js/amcharts/worldIndiaLow.js"></script>
	<script src="/js/readmore-js/readmore.min.js"></script>
	<script src="/js/energyData.js"></script>

</head>

<body>
	{{> header_index_p}}
	<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-sort-up"></i></button>
	{{{body}}}
	{{> footer_index_p}}
	<script src="/js/data.js"></script>
	<script src="/js/utils.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/gallery.js"></script>
	<script src="/js/classie.js"></script>
	<script src="/js/utils2.js"></script>
</body>

</html>