<footer class="container fbg py-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm px-5">
				<div class="logo-part">
					<img src="/img/footer-logo.png" class="w-50 logo-footer">
					<br><br>
					<p class="ftext">This website belongs to Ministry of New & Renewable Energy, Government of
						India. Content displayed on this website is managed by MNRE and are for
						reference purpose only. All efforts have been made to make the information as accurate as
						possible.

						The MNRE will not be responsible for any loss or harm, direct or consequential
						or any violation of laws that may be caused by inaccuracy in the information
						available on this website. Any discrepancy found may be brought to the notice of Ministry.
						Website Designed and Developed by NIC-MNRE Computer Centre & Hosted at NIC web server.</p>

				</div>
			</div>
			<div class="col-sm vl px-5">
				<h6>CONTACT US</h6>
				<p class="ftext" style="color=#e7e7e7">Ministry of New and Renewable Energy, Block-14, CGO Complex,
				</p>
				<p class="ftext" style="color=#grey">Lodhi Road, New Delhi-110 003, India.</p>
				<p class="ftext" style="color=grey">+91-11-24361298</p>
				<p class="ftext" style="color=#e7e7e7">Email List</p>
				<p class="ftext" style="color=#e7e7e7">mnre.gov.in</p>
			</div>
			<div class="col-sm vl px-5">
				<h6>USEFUL LINK</h6>
				<div class="row ">
					<div class="col-md-6">
						<ul>
							<li> <a href="#"> RTI Portal</a> </li>
							<li> <a href="#"> GOI Directory</a> </li>
							<li> <a href="#"> Government of India</a> </li>
							<li> <a href="#"> Policies</a> </li>
							<li> <a href="#"> Tenders of India</a> </li>
							<li> <a href="#"> Districts of India</a> </li>
						</ul>
					</div>
					<div class="col-md-6 px-4">
						<ul>
							<li> <a href="#"> mygov.in</a> </li>
							<li> <a href="#"> India.gov.in</a> </li>
							<li> <a href="#"> gandhi.gov.in</a> </li>
							<li> <a href="#"> Services.india.gov.in</a> </li>
							<li> <a href="#"> biomasspower.gov.in</a> </li>
							<li> <a href="#"> powermin.nic.in</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mb-0 mt-5" style="padding-bottom:0;margin-bottom:0!important;">
				<div class="col-sm-6 text-right align-self-end">
					Last Updated On: Mar 09, 2019
				</div>
				<div class="col-sm-6 align-self-end vl">
					Website Policy &nbsp;&nbsp; SiteMap &nbsp;&nbsp; Feedback &nbsp;&nbsp; Help &nbsp;&nbsp; FAQ
				</div>
			</div>
	</div>
</footer>