<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-fixed-top ">
	<a class="navbar-brand ml-4" href="#"><img src="/img/logo.png" class="logo"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<span class="bars"></span>
				</a>
				<div class="dropdown-menu rubiks" aria-labelledby="navbarDropdown">
					<div class="container navbar__menu-padding">
						<div class="col-sm d-flex">
							<div
								class="anim bxx2 card bg-primary pk text-white rounded-0 p-0 fix-menu-item service-box">
								<div class="service-icon about">
									<div class="front-content">
										<img src="/img/about-menu.png" width="40%" class="micon">
									</div>
								</div>
								<div class="service-content">
									<h3>ABOUT MNRE</h3>
									<img src="/img/about-menu.png" width="40%">
								</div>
							</div>
						</div>
						<div class="col-sm d-flex">
							<div
								class="anim bxx2 card bg-primary pk text-white rounded-0 p-0 fix-menu-item service-box">
								<div class="service-icon energy">
									<div class="front-content">
										<img src="/img/energies_menu.png" width="40%" class="micon">
									</div>
								</div>
								<div class="service-content">
									<h3>Energies</h3>
									<img src="/img/energies_menu.png" width="40%">
								</div>
							</div>
						</div>
						<div class="col-sm d-flex">
							<div
								class="anim bxx2 card bg-primary pk text-white rounded-0 p-0 fix-menu-item service-box">
								<div class="service-icon rd">
									<div class="front-content">
										<img src="/img/rd-menu.png" width="40%" class="micon">
									</div>
								</div>
								<div class="service-content">
									<h3>R&D</h3>
									<img src="/img/rd-menu.png" width="40%">
								</div>
							</div>
						</div>
					</div>
					<div class="container navbar__menu-padding">
						<div class="col-sm d-flex">
							<div class="anim bxx2 card bg-primary pk text-white rounded-0 p-0 fix-menu-item">
								<div class="card-body text-center align-items-center d-flex justify-content-center"
									style="background-color: #179ba3" onmouseover="this.style.background='#6100c6';"
									onmouseout="this.style.background='#0078a2';">
									<span class="card_menu--text">CASE STUDY </span>
								</div>
							</div>
						</div>
						<div class="col-sm d-flex">
							<div class="anim bxx2 card bg-primary y text-white rounded-0 p-0 fix-menu-item">
								<div class="card-body text-center align-items-center d-flex justify-content-center"
									style="background-color:#de3975" onmouseover="this.style.background='#7339de';"
									onmouseout="this.style.background='#de3975';">
									<span class="card_menu--text">PROGRAMME</span>
								</div>
							</div>
						</div>
						<div class="col-sm d-flex">
							<div class="anim bxx2 card bg-primary pk text-white rounded-0 p-0 fix-menu-item">
								<div class="card-body text-center align-items-center d-flex justify-content-center"
									style="background-color:#88a339;color:#ffffff"
									onmouseover="this.style.background='#174eba';this.style.color='#ffffff'"
									onmouseout="this.style.background='#f8ba2d';this.style.color='#ffffff'">
									<span class="card_menu--text">INSTITUTES</span>
								</div>
							</div>
						</div>

					</div>
					<div class="container navbar__menu-padding">
						<div class="col-sm d-flex ">
							<div class="anim bxx2 card bg-primary pr text-white rounded-0 p-0 fix-menu-item">
								<div class="card-body text-center align-items-center d-flex justify-content-center"
									style="background-color: #3d6325" onmouseover="this.style.background='#b42e5f';"
									onmouseout="this.style.background='#408d31';">
									<span class="card_menu--text">AGENCIES</span>
								</div>
							</div>
						</div>
						<div class="col-sm d-flex">
							<div class="anim bxx2 card bg-primary y text-white rounded-0 p-0 fix-menu-item">
								<div class="card-body text-center align-items-center d-flex justify-content-center"
									style="background-color: #c7721f" onmouseover="this.style.background='#b42e5f';"
									onmouseout="this.style.background='#00800b';">
									<span class="card_menu--text">MEDIA CENTER</span>
								</div>
							</div>
						</div>
						<div class="col-sm d-flex">
							<div class="anim bxx2 card bg-primary pr text-white rounded-0 p-0 fix-menu-item">
								<div class="card-body text-center align-items-center d-flex justify-content-center"
									style="background-color:#f8ba2d;color: #ffffff"
									onmouseover="this.style.background='#c7371f';this.style.color='#ffffff'"
									onmouseout="this.style.background='#f8ba2d';this.style.color='#ffffff'">
									<span class="card_menu--text">PUBLIC INFORMATION</span>
								</div>
							</div>
						</div>

					</div>
				</div>

	</div>
	<div class="dropdown-menu rubiks-sub" aria-labelledby="navbarDropdown">
		<div class="container" style="padding:10px 0px!important;">

			<div class="col-sm-12">
				<span class="submhead">Energies </span>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<ul>Solar</ul>
					<ul>Wind</ul>
					<ul>Biomass Power</ul>
					<ul>Biomass Gasification</ul>
					<ul>Biogas</ul>
					<ul>Small Hydro</ul>
					<ul>Waste to Energy</ul>
					<ul>New Technologies</ul>
				</div>
				<div class="col-sm-6">
					<ul>Solar</ul>
					<ul>Wind</ul>
					<ul>Biomass Power</ul>
					<ul>Biomass Gasification</ul>
					<ul>Biogas</ul>
					<ul>Small Hydro</ul>
					<ul>Waste to Energy</ul>
					<ul>New Technologies</ul>
				</div>
			</div>



		</div>
	</div>
	</li>
	</ul>
	<div class="col-sm-6">
		<form class="navbar-form ml-3 pl-3 col-sm-6" role="search">
			<div class="input-group add-on">
				<input type="text" class="form-control" placeholder="What are you looking for ..." name="srch-term"
					id="srch-term">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
	</div>
	<div class="col-sm-2 mr-auto nav-item">
		<span> <a>- </a> A <a> +</a> &nbsp; <a>EN</a> &nbsp; <a>हिं</a></span>
	</div>
</nav>
