<h1>Error Occured : You will be redirected to the Home Page shortly, if not please <a href="/"> click here</a></h1>


<script>
    setTimeout(function(){
        location.href = '/'
    },3000)
</script>
