
/* Rules for sizing the icon. */
.fs-9 {
    font-size: 9px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-34 {
    font-size: 34px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-44 {
    font-size: 44px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.fs-60 {
    font-size: 60px !important;
}

.fs-72 {
    font-size: 72px !important;
}


/* width sizes */


.w-au {
    width: auto;
}

.w-01 {
    width: 01%;
}

.w-02 {
    width: 02%;
}

.w-03 {
    width: 03%;
}

.w-04 {
    width: 04%;
}

.w-05 {
    width: 05%;
}

.w-08 {
    width: 08%;
}

.w-10 {
    width: 10%
}

;

.w-12 {
    width: 12%;
}

.w-15 {
    width: 15%;
}

.w-18 {
    width: 18%;
}

.w-20 {
    width: 20%;
}

.w-22 {
    width: 22%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-30 {
    width: 30%;
}

.w-32 {
    width: 32%;
}

.w-34 {
    width: 34%;
}

.w-35 {
    width: 35%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 30%;
}

.w-42 {
    width: 42%;
}

.w-45 {
    width: 45%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-52 {
    width: 52%;
}

.w-55 {
    width: 55%;
}

.w-58 {
    width: 58%;
}

.w-60 {
    width: 60%;
}

.w-62 {
    width: 62%;
}

.w-65 {
    width: 65%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 70%;
}

.w-72 {
    width: 72%;
}

.w-75 {
    width: 75%;
}

.w-78 {
    width: 78%;
}

.w-80 {
    width: 80%;
}

.w-82 {
    width: 82%;
}

.w-85 {
    width: 85%;
}

.w-88 {
    width: 88%;
}

.w-90 {
    width: 90%;
}

.w-92 {
    width: 92%;
}

.w-95 {
    width: 95%;
}

.w-98 {
    width: 98%;
}

.w-100 {
    width: 100%;
}

/* color */
.color-white {
    color: white !important;
}

.color-gray {
    color: gray !important;
}

.color-black {
    color: black !important;
}