<link rel="stylesheet" href="/stylesheets/about.css">
<div class="container-fluid about-header">
    <div class="row">
        <div class="col-sm-12 pt-3 pb-3 px-5 text-center">
            <h1 class="ahead">The Ministry</h1>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-sm-12 pt-4 px-5">
            <h3 class="history text-center">What is the Ministry all about?</h3>
            <div class="pt-2">
                <img class="about__banner--image" src="/img/nuploads/ministry.jpg">
            </div>
            <div class="pt-3">
                <div class="about-text">
                    {{{BANNER_IMAGE_DESCRIPTION}}}
                </div>
                <img class="about__banner--image" src={{JOURNEY_IMAGE_LOCATION}}>
                <div class="about-text pt-5">
                    {{{JOURNEY_IMAGE_DESCRIPTION}}}
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Mission
                            </button>
                        </h3>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body abt">
                            <p class="about-text">
                                In view of our commitment to a healthy planet and our Nationally Determined
                                Contributions as per the
                                Paris Accord on Climate Change, India made a pledge that by 2030, 40% of installed power
                                generation
                                capacity shall be based on clean sources. It was determined that 175 GW of renewable
                                energy capacity
                                will be installed by 2022. This includes 100 GW from solar, 60 GW from wind, 10 GW from
                                bio-power
                                and 5 GW from small hydro power.
                            </p>
                            <b>The mission of the Ministry is to ensure</b>
                            <br><br>
                            <ul class="fa-ul">
                                <li>
                                    <span class="fa-li">
                                        <i class="far fa-caret-square-right"></i>
                                    </span>
                                    Energy Security: Development and deployment of alternate fuels like hydrogen, bio-fuels and synthetic fuels and their applications to contribute towards bridging the gap between domestic oil supply and demand; lesser dependency on oil imports
                                </li>
                                <li>
                                    <span class="fa-li">
                                        <i class="far fa-caret-square-right"></i>
                                    </span>
                                    Increase in the share of clean power: Renewables like wind, hydro, solar, geothermal, bio & tidal power to supplement fossil fuel based electricity generation.
                                </li>
                                <li>
                                    <span class="fa-li">
                                        <i class="far fa-caret-square-right"></i>
                                    </span>
                                    Energy Availability and Access: Supplement energy needs of cooking, heating, motive power and captive generation in rural, urban,industrial and commercial sectors
                                </li>

                                <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Energy
                                    Affordability: Cost-competitive, convenient, safe,
                                    affordable and
                                    reliable energy supply options
                                </li>

                                <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Energy
                                    Equity: Per-capita energy consumption at par with the
                                    global
                                    average level by 2050, through a sustainable and diverse fuel- mix
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Vision
                            </button>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body abt">
                            {{{MINISTRY_VISION_DESCRIPTION}}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Allocation of Business
                            </button>
                        </h3>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body abt">
                            <p class="about-text">
                                <ul class="fa-ul">

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>
                                        Implementation of
                                        Grid Connected Solar Power Projects under the National Solar Mission</li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Holding
                                        competitive
                                        bidding process for escalate (wind or solar) renewable power capacity</li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Setting
                                        up of Solar
                                        Parks</li>

                                    <li><span class="fa-li"><i
                                                class="far fa-caret-square-right"></i></i></span>Supporting
                                        deployment of decentralized solar applications like solar lanterns, solar street
                                        lights,
                                        solar home lights, solar pumps, etc. </li>

                                    <li><span class="fa-li"><i
                                                class="far fa-caret-square-right"></i></i></span>Implementing off
                                        grid and Decentralized
                                        renewables programme for meeting energy demand for cooking, lighting, motive
                                        power, space
                                        heating, hot water
                                        generation, etc.</li>

                                    <li><span class="fa-li"><i
                                                class="far fa-caret-square-right"></i></i></span>Implementation of
                                        the solar-wind hybrid policy, National Offshore Wind Energy Policy to develop
                                        the offshore
                                        wind energy in the Indian Exclusive Economic Zone (EEZ) along the Indian
                                        coastline. </li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Building
                                        robust
                                        ecosystem for support for research, innovation and validation for technology
                                        development and
                                        demonstration, testing and standardization, awards for innovation linked with
                                        start-ups.
                                    </li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>All
                                        matters relating
                                        to small/mini/micro hydel projects of and below 25 MW capacity</li>

                                    <li><span class="fa-li"><i
                                                class="far fa-caret-square-right"></i></i></span>Bio-fuels: (i)
                                        National Policy; (ii) research, development and demonstration on transport,
                                        stationary and
                                        other applications; (iii) setting up of a National Bio- fuels Development Board
                                        and
                                        strengthening the existing institutional mechanism; and(iv) overall
                                        coordination.</li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Setting
                                        up of waste
                                        to energy projects</li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Enabling
                                        policy and
                                        regulatory framework for National Energy Storage Mission to promote energy
                                        storage and
                                        electric mobility</li>

                                    <li><span class="fa-li"><i class="far fa-caret-square-right"></i></i></span>Indian
                                        Renewable
                                        Energy Development Agency (IREDA); Integrated Rural Energy Programme (IREP)</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Functions
                            </button>
                        </h3>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordionExample">
                        <div class="card-body abt">
                            <p class="about-text">
                                <p class="font-weight-bold">
                                    Facilitate research, design, development, manufacture, and
                                    deployment of new and renewable energy systems/devices for transportation, portable
                                    and stationary
                                    applications in rural, urban, industrial and commercial sectors through:
                                </p>
                                <ul class="fa-ul">
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Technology Mapping and Benchmarking
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Identify Research, Design, Development and Manufacture thrust areas and
                                        facilitate the same
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Lay down standards, specifications and performance parameters at par with
                                        international levels and facilitate industry in attaining the same
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Align costs of new and renewable energy products and services with international
                                        levels and facilitate industry in attaining the same
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Appropriate international level quality assurance accreditation and facilitate
                                        industry in obtaining the same</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Provide sustained feedback to manufacturers on performance parameters of new and
                                        renewable energy products and services with the aim of effecting continuous
                                        upgrade so as to attain international levels in the shortest possible time span
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Facilitate industry in becoming internationally competitive and a net foreign
                                        exchange earner Resource Survey, Assessment, Mapping and Dissemination
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Identify areas in which new and renewable energy products and services need to
                                        be deployed in keeping with the goal of national energy security and energy
                                        independence
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Bio-fuels: <br>
                                        (i) National Policy <br>
                                        (ii) Research, Development and Demonstration on Transport, stationary and other
                                        applications<br>
                                        (iii) Setting up of a National Bio - Fuels Development Board and strengthening
                                        the existing institutional mechanism <br>
                                        (iv) Overall coordination
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Deployment strategy for various indigenously developed and manufactured new and
                                        renewable energy products and
                                        services
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="far fa-caret-square-right"></i>
                                        </span>
                                        Provision of cost-competitive new and renewable energy supply options
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>