<link rel="stylesheet" href="/stylesheets/areas.css">
<div class="container-fluid policies mb-5">
    <h1 class="text-center wdet">
        Association of Renewable Energy Agencies of States (AREAS)
    </h1>
</div>
<main class="areas_content--main">
    <div class="content-text">
<div class="margin_boo">
        <p class="areas__content">
            Ministry of New & Renewable Energy (MNRE) is the nodal agency at the central level for promotion of
            grid-connected and off-grid renewable energy in the country. Ministry’s programmes are implemented in close
            coordination with State Nodal Agencies (SNAs) for renewable energy (RE). Over the period the SNAs have
            developed considerable knowledge and experience in planning and implementation of RE programmes. In this
            background it is important that SNAs interact and learn from each other’s experiences and also share their
            best practices and knowledge regarding technologies and schemes/programmes.
		
        </p>
<p class="areas__content">
            MNRE took an initiative in this regard in consultation with SNAs, and Association of Renewable Energy
            Agencies of States (abbreviated as “AREAS) has been formed and registered as a society on 27 August 2014
            under Society Registration Act 1860.
        </p>
        <p class="areas__content">
            Hon’ble Union Minister of state (I/C) for Power, Coal and New & Renewable Energy has kindly consented to the
            Patron of the Association. Secretary, MNRE is the ex-officio President of the Association. All SNAs to be
            the member of the Association. The first meeting of the Association was held under the chairmanship of
            Secretary, MNRE & President of the Association on 20 August 2014, where in Memorandum of Association and
            Rules & Regulations of the Association were discussed and approved. Sh. Shailendra Shukla, Chief Executive
            Officer, Chhattisgarh Renewable Energy Development Agency was unanimously elected as the Vice-President of
            Association. The elected members of the Executive Committee were SNAs from Uttar Pradesh, Uttarakhand,
            Jharkhand, West Bengal, Maharashtra, Gujarat, Karnataka, Tamil Nadu and Mizoram.
        </p>
</div>
        
        <br>
        <p>
            <h4>
                Under AREAS the following three Standing Committees are constituted:
            </h4>
        </p>
        <ul class="standing__committee--list">
            <li class="standing__committee--item">
                Standing Committee on Technology and Resource Assessment
            </li>
            <li class="standing__committee--item">
                Standing Committee on Policy and Finance
            </li>
            <li class="standing__committee--item">
                Standing Committee on IT & IMS
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-6">
                <h4 class="areas__documents">Address of Correspondence:</h4>
                <ul class="address__correspondence">
                    <li class="address__correspondence--item">
                        J. K. Jethani
                    </li>
                    <li class="address__correspondence--item">
                        Executive Director(I/C)
                    </li>
                    <li class="address__correspondence--item">
                        Association of Renewable Energy Agencies of State
                    </li>
                    <li class="address__correspondence--item">
                        C/o. Ministry of New & Renewable Energy
                    </li>
                    <li class="address__correspondence--item">
                        Block No. 14, CGO Complex
                    </li>
                    <li class="address__correspondence--item">
                        Lodhi Road, New Delhi-110003
                    </li>
                    <li class="address__correspondence--item">
                        Tel/Fax: 011-24362728
                    </li>
                    <li class="address__correspondence--item">
                        Email : <a href="mailto:jethani.jk@nic.in">jethani[dot]jk[at]nic[dot]in</a>,<a
                            href="mailto:areasdelhi@gmail.com">areasdelhi[at]gmail[dot]com</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h4 class="areas__documents">
                    AREAS Documents
                </h4>
                <div class="pdf-view">
                    <h5 class="guid areas__document--title">
                        Registration Certificate of AREAS
                        <a target="_blank" href="https://mnre.gov.in/sites/default/files/uploads/Certificate-AREAS.pdf"
                            class="ml-1">
                            <img class="download__icon" src="/img/download-pdf.png" alt="download" style="width: 2%;">
                        </a>
                    </h5>
                </div>
                <div class="pdf-view">
                    <h5 class="guid areas__document--title">
                        Memorandum of Association of AREAS
                        <a target="_blank" href="https://mnre.gov.in/sites/default/files/uploads/MOA-of-AREAS.pdf"
                            class="ml-1">
                            <img src="/img/download-pdf.png" alt="download" style="width: 2%;">
                        </a>
                    </h5>
                </div>
                <div class="pdf-view">
                    <h5 class="guid areas__document--title">
                        Rules & Regulations of AREAS
                        <a target="_blank" href="https://mnre.gov.in/sites/default/files/uploads/R%26R-AREAS.pdf"
                            class="ml-1">
                            <img src="/img/download-pdf.png" alt="download" style="width: 2%;"></a>
                    </h5>
                </div>
                <div class="pdf-view">
                    <h5 class="guid areas__document--title">
                        Members SNAs of AREAS
                        <a target="_blank"
                            href="https://mnre.gov.in/sites/default/files/uploads/List-of-Member-SNAs-of-AREAS.pdf"
                            class="ml-1">
                            <img src="/img/download-pdf.png" alt="download" style="width: 2%;">
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</main>