<link rel="stylesheet" href="/stylesheets/beneficiary-list.css">
<div class="container-fluid policies mb-5">
    <h1 class="text-center wdet">
        Beneficiary list of MNRE Schemes under DBT
    </h1>
</div>
<main class="ml-5 mr-5 mb-5">
    <div class="content-text">
        <ul class="beneficiary__list">
            <li class="beneficiary__list--item">
                National Renewable Energy Fellowship Programme and National Solar Science Fellowship Programme
            </li>
            <li class="beneficiary__list--item">
                Short Term Training Programme component of HRD Programme (As on 05.01.2017)
                <a target="_blank" href="http://mnre.gov.in/file-manager/UserFiles/Participant-Database-of-Suryamitra-Skill-Training-NISE.xlsx">
                    View File
                </a>
            </li>
            <li class="beneficiary__list--item">
                Fellowship component of R&D projects sponsored by the Ministry
            </li>
            <li class="beneficiary__list--item">
                National Biomass Cookstoves Programme
            </li>
            <li class="beneficiary__list--item">
                Grid connected Roof-top Solar Projects implemented on an individual house of capacity of 3 kW and above
            </li>
            <li class="beneficiary__list--item">
                GHARAT being run by an individual
            </li>
            <li class="beneficiary__list--item">
                Solar cooker and solar hot water systems
            </li>
            <li class="beneficiary__list--item">
                Solar Lantern and Solar Home Lighting System and Solar Pumps, Solar Power Plants
            </li>
            <li class="beneficiary__list--item">
                National Biogas and Manure Development programme
            </li>
        </ul>
    </div>
</main>