<div class="container-fluid policies bio-bg">
    <h1 class="text-center wdet">Schemes</h1>
</div>

<div class="main gutter mt-5 ml-5 mr-5">
    <!-- Accordion -->
    <div class="_policy_accordion">
        <ul class="nav nav-tabs bio-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="profile" aria-selected="false">Bio Mass</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home"
                    aria-selected="true">Bio Gas</a>
            </li>            
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Scheme to Support Promotion Of Biomass Based Cogeneration In Sugar Mills And Other Industries In The Country (Up To March 2020)
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>The objective of the scheme is to support Biomass based Cogeneration Projects in Sugar mills and Other Industries for power generation in the country.</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>11.05.2018 to 31.03.2020</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>CFA on surplus exportable power@ Rs 25.00 Lakhs/MW for all projects for Bagasse Cogeneration</li>
                                                <li>CFA for Biomass (Non-Bagasse) Cogeneration on installed capacity @ Rs 50.00 Lakhs/MW.</li>
                                                <li>Incentives to SNAs @ Rs. 1.00 Lakh/MW (Maximum – Rs. 10.00 Lakhs per project)</li>
                                                <li>All proposals to be forwarded through Lead FIs.</li>
                                                <li>CFA to be back-ended.</li>
                                                <li>CFA for Expansionary Projects will be considered only for the latest capacity addition.</li>
                                                <li>SNA to be involved in the entire process from installation to commissioning and monitoring.</li>
                                                <li>Prior Sanction will be required for grant of CFA. Claims of non-commissioned projects only will be considered.</li>
                                                <li>Projects which have availed loan will only be considered for grant of CFA.</li>
                                                <li>CFA will be released to the loan account maintained with the Lead FI.</li>
                                                <li>Projects with a minimum boiler pressure of 60 Bars will be considered.</li>
                                                <li>Project Advisory Committee (PAC) to evaluate all proposals.</li>
                                                <li>Projects to be commissioned within 2 years from the date of sanction.</li>
                                                <li>Performance inspection to be done by concerned utilities along with SNAs.</li>
                                                <li>Periodic monitoring of the projects to be carried out by a team comprising representatives from Utilities, SNAs, experts appointed by MNRE and Ministry officials.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>To avail CFA, the developers have to forward a copy of DPR to the Ministry through lead Financial Institution (FI) which is providing loan the project.</li>
                                                <li>Applications received will be put up before Project Appraisal Committee (PAC).</li>
                                                <li>Further the Financial Institution will give presentation before Project Appraisal Committee (PAC).</li>
                                                <li>The sanction letter for grant of CFA will be issued to the promoter with approval of IFD and Secretary. Prior sanction letter from the Ministry is required for availing CFA. The time period for completion of the project is 24 months.</li>
                                                <li>The entire CFA will be released to the developer’s loan account in the lending financial institution/banks for the purpose of offsetting the loan amount only after successful commissioning of the project. The condition of successful commissioning of the Biomass cogeneration project would, inter-alia, imply operation of the project for three months, including continuous operation for at least 72 hours at minimum of 80% of rated capacity. No advance CFA will be released to any projects.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>Director, Biomass Power Programmes.</td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/997d351fae16480dbb85065f47ad1c51.pdf" target="_blank">Scheme to Support Promotion Of Biomass Based Cogeneration In Sugar Mills And Other Industries In The Country (Up To March 2020)</a></li>
                                                <li><a href="http://10.246.24.71/uploads/23f6ffbd0fd8428fafb7a3b94a79d756.pdf" target="_blank">Corrigendum to scheme to support biomass based cogeneration in sugar mills and other industries.</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="accordion" id="accordionExample1">
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Biogas Power Generation (Off-Grid) and Thermal energy application Programme (BPGTP).
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>
                                            <ol>
                                                <li>To promote biogas based Decentralized Renewable Energy Sources of power generation (Off-Grid), in the capacity range of 3 kW to 250 kW or thermal energy   for heating/ cooling applications from the biogas generation produced from Biogas plants of 30 M3 to 2500 M3 size.</li>
                                                <li>To process scientifically the organic wastes/ Biomass waste as feed stocks for the purpose of setting up</li>
                                                <li>Biogas Plants as a source of RE under, such as cattle dung/ animal wastes, food & kitchen waste, poultry dropping waste in single mode or    with mix of poultry waste and      cattle dung/ goat & sheep   dropping, paddy straw, green grass including elephant    grass/ Napier grass grown specially for biogas production. Also wastes from rural Industries such as residue /effluents from Agro Processing Industries and Food Processing Industries/ Food Processing Parks, Agricultural Farms/ Dairy Farms, Gaushalas and Milk processing effluent from all dairies.</li>
                                                <li>Creation of biogas plant facilities for Farmers/ Dairy Farmers / Individual organizations in Rural Areas.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>2017-18 to 2019-20 (Co-terminus with 14th Finance Commission, up to 31.03.2020)</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>Particularly beneficial for rural and semi-urban areas for meeting electrical and thermal energy demands, particularly for small dairy, poultry farms.</li>
                                                <li>The applicable rates of CFA/ Subsidy for setting up of Biogas based Power Generation (Off-grid) and Thermal application projects are provided in three slabs of sizes of Biogas Plants and corresponding Power generation/ Thermal Energy generation capacity which varies from Rs. 25,000/- to Rs. 40,000/- per KW  for Power and Rs. 12,500/- per KWe to Rs.20,000/- per KWe of thermal energy.</li>
                                                <li>In all the projects categories, the CFA will be paid on re-reimbursement basis, except for the SC & ST categories and all categories beneficiaries of North Eastern Region States where in the CFA at the rate of 50% of the estimated CFA of the project will be given at the middle of the project execution and the balance 50% after proper completion and commissioning of the project in all respect and submission of all the required project performance data and financial documentations.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            The CFA is given on reimbursement basis after successful    completion and commissioning of the project in all respect. The CFA rates are given as per the Annexure-IIA and Annexure-IIB of the Administrative Sanction -cum-Guidelines for   implementation of the Central Sector Scheme, Biogas based Power Generation and Thermal Application    Programme (BPGTP) dated 29.11.2018 placed on MNRE website.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ol>
                                                <li>The proposals to be submitted through the designated States Programme Implementing Agencies as per the scheme for Administrative Sanction of the MNRE. The Scheme is being implemented by Agriculture and Rural Development Departments of the    States and Dairy Cooperatives.</li>
                                                <li>The programme is also implemented by    the State Renewable Energy Agencies (SNAs), Biogas Development and Training Centres (BDTCs), Khadi and Village Industries Commission (KVIC) and National Dairy Development Board (NDDB) in States whereAgriculture and State Rural Development Departments are not in a position   to implement the scheme.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/99497dc2022d446d9103099a0d80bae4.pdf" target="_blank">Administrative sanction cum Guidelines for implementation of the Central Sector Scheme, Biogas based Power Generation and Thermal Application Ptogramme (BPGTP) during 2017-18 to 2019-20</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    New National Biogas and Organic Manure Programme (NNBOMP)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>
                                            <ol>
                                                <li>To provide clean cooking fuel for kitchens, lighting and meeting other thermal and small power needs of farmers/dairy farmers /users including individual households and to improve organic manure  system based on bio slurry from biogas plants in  rural and semi urban areas by setting up of  small size biogas plants of 1 to 25 Cubic Metre capacity.</li>
                                                <li>To mitigate drudgery of  women and time saving  for them for other livelihood activities and reduce pressure on forests and accentuate social benefits;</li>
                                                <li>To improve sanitation in  rural and semi-urban areas including linking sanitary toilets with cattle      dung biogas plants;</li>
                                                <li>To provide biogas plant produced slurry (liquid /   semi-solid or dried) as  an organic  enriched bio- manure to help reduce  use of chemical fertilizers such as urea, linking biogas  slurry with enrichment units such as vermicomposting, Phosphate Rich Organic Manure (PROM)  plants and other organic enrichment facilities  as a source of value addition to bio gas plant slurry.</li>
                                                <li>To meet ‘lifeline energy’ needs for clean cooking  as envisaged in “Integrated Energy Policy” of NITI Aayog (erstwhile Planning Commission).</li>
                                                <li>To help in combating and reduction in causes of   climate change by preventing emissions of Green House Gases ( GHGs) such as carbon dioxide and methane into the atmosphere.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>
                                            Financial Year 2017-18 to 2019-20, co-terminating with 14th<br />
                                            Finance Commission Period on 31.03.2020.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ol>
                                                <li>Allocation of Annual Targets by the MNRE to all State Implementing Agencies under NNBOMP with the starting of Financial Year.</li>
                                                <li>Provision of 50% advance release of funds for annual allocated targets to the designated SND, PIAs i.e. State Rural Development Departments/ State Nodal Agencies and KVIC, Mumbai for Biogas plants.</li>
                                                <li>Special rates of CFA for  NER States, SC and ST Categories  for Biogas Plants.</li>
                                                <li>Provision of an additional Subsidy for cattle dung based    biogas plants if linked with sanitary toilets, only for individual households (Rs. 1600/- Per Biogas Plant).</li>
                                                <li>Addl. CFA for purchasing  of 100% biogas engines and transportation of biogas from the site of the biogas plant to the site of  biogas engine also incentivised.</li>
                                                <li>Across the country 8 number of Biogas Development and Training Centres (BDTCs)   are providing technical and trainings,    Field Inspections and information & publicity assistance to the State Rural Development Departments/ State Nodal Agencies      for biogas Development and awareness.</li>
                                                <li>Various types of training courses such as Construction-cum-Maintenance, Refresher Training Courses, Users’ Courses, Biogas Turn-Key Workers Course, Staff Training Courses and Skill Development Courses have been designed for imparting knowledge and skill development, create a cadre of biogas masons and   technicians skilled in the construction, installation commissioning and maintenance of approved models of biogas plants under the scheme.</li>
                                                <li>Different types of Biogas Plant Models available such as (i) Deenbandhu fixed dome model  (ii) KVIC’s Floating Dome Design; and (iii) Prefabricated Reinforced Cement Concrete (RCC) digester with KVIC floating drum</li>
                                                <li>Provisions of 100% Physical Verification and Sample Village-wise biogas plant Monitoring mechanism.</li>
                                                <li>For Motivation and appreciation by MNRE to SRDDs & State Office of KVIC for   overall performance and achieving highest annual targets allocated under the Scheme.</li>
                                            </ol>
                                            The details of the complete scheme Administrative Sanction -cum- Guidelines, dated 30.05.2018 are available on MNRE   web site.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>Under NNBOMP, SND, SNA, State Rural Development Departments and KVIC will identify   feasible  biogas plant sites / beneficiaries and selection of  the potential beneficiaries and their applications   for biogas plants;</li>
                                                <li>The applicable CFA / Subsidy amount will be disbursed to the beneficiaries of biogas plants by crediting to their Bank Accounts after completion and commissioning of biogas plants.</li>
                                                <li>If biogas plant beneficiary has taken loan for setting up of biogas plant from Scheduled Banks or Cooperative Banks or under the KCC or from NABARD / IREDA, NABARD authorized Financial Institutions for Agriculture, the CFA/subsidy amount would be deposited / transferred directly to his Biogas Loan Account seeded with Aadhar Numbers of the beneficiaries by following DBT route.</li>
                                                <li>Payment of Turn-Key Job Fee at the rates prescribed for setting up of Biogas plants and rendering quality biogas services  on turn-key basis by the corporate bodies/ registered Societies/ approved, trained & registered Private entrepreneurs categories as given under eligibility at ‘A’ above will be released by the MNRE, SNA, SND & KVIC, Mumbai after satisfactory completion and commissioning of the biogas plants and on receipt of claims in the proforma on receipt of the final claims all duly audited and certified by the Head of the main programme implementing agencies</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            Interested users / beneficiary should contact to the concerned State          Nodal Department, Agencies, NDDB or KVIC State Office/ Regional Offices for installation of biogas plants under NNBOMP.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/77e0a45feb0c4ce4974a0429d1e39001.pdf" target="_blank">Administrative Sanction-cum- Guidelines for implementation of the Central sector Scheme, New National Biogas and Organic Manure Programme (NNBOMP) during the period 2017-18 to 2019-20, co- terminating with 14th Finance Commission period on 31.03.2020</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>