<link rel="stylesheet" href="/stylesheets/contact_page.css">
<div class="container-fluid cnt contact_bg">
    <h1 class="cnt-text text-center">Contact Us</h1>
</div>
<div class="container">    
    <div class="container" id="address">
        <div class="col-sm-12 mt-5 headf">
            <div class="row">
                <h4 class="h4-text mt-2">Address</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5 ml-3">

                <ul class="contact__address">
                    <li><b>Ministry of New and Renewable Energy</b></li>
                    <li>Block-14, CGO Complex,</li>
                    <li>Lodhi Road,New Delhi-110 003, India.</li>
                </ul>
            </div>
            <div class="col-sm-4 ml-5 mt-5 pl-5">

               
               <span class="fax"><i class="fab fa-facebook"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-youtube"></i></span>
            </div>
        </div>

    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.33493371797!2d77.23419661514389!3d28.589727292767638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2e52043e875%3A0xf58f4732f0610783!2sMinistry+of+New+and+Renewable+Energy!5e0!3m2!1sen!2sin!4v1556781898523!5m2!1sen!2sin"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 mt-5 headf">
            <div class="row">
                <h4 class="h4-text mt-2">Telephone Directory</h4>
            </div>
        </div>
        <p class="mt-5 ml-5">EPBAX: 24360707, 24360404</p>
        <p class="ml-5">Fax No: (Block No.14) 24361298(Genl.)</p>
        <div class="mb-5">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Minister's Office
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="table-responsive">
                            <table class="table anyClass">
                                <thead>
                                    <tr>
                                        <th scope="col">Name & Designation</th>
                                        <th scope="col">I.C</th>
                                        <th scope="col">Room No.</th>
                                        <th scope="col">Office</th>
                                        <th scope="col">E-mail ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">RAJ KUMAR SINGH (MINISTER)</th>
                                        <td>-</td>
                                        <td>118</td>
                                        <td>24360396, 24360774,
                                            24361193, 24362554 (Fax)</td>
                                        <td>raj.ksingh@gov.in</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">MANOJ KUMAR SINGH (PS)</th>
                                        <td>2123</td>
                                        <td>117</td>
                                        <td>24360396, 24360774
                                            24361193, 24362554 (Fax)</td>
                                        <td>manoj.ksingh82@gov.in</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SANJAY PRAKASH BHATNAGAR (APS)</th>
                                        <td>2122</td>
                                        <td>116</td>
                                        <td>24360396, 24360774
                                            24361193, 24362554 (Fax)</td>
                                        <td>sp.bhatnagar61@gov.in</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ALOK SINGH (APS)</th>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>24360396, 24360774
                                            24361193, 24362554 (Fax)</td>
                                        <td>aksingh.mps@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">D.K. PANDEY
                                            (UNDER SECRETARY)</th>
                                        <td>2115</td>
                                        <td>109</td>
                                        <td>24360396, 24360774
                                            24361193, 24362554 (Fax)</td>
                                        <td>dhrendraak.pandey@nic.in</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Contact List
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="pdf-view pb-5">
                            <div class="row pdf ml-5 mr-5 mt-5" >
                                <div class="col viewdoc">
                                    <span class="date">&nbsp;</span>
                                    <h4 class="guideh">Telephone Directory</h4>
                                </div>
                                <div class="col-sm-3">
                                    <a target="_blank" href="http://10.246.24.71/uploads/8a3348038308485284e1055db8c7041d.pdf" class="ml-1">
                                        <img class="pdf img-fluid" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/8a3348038308485284e1055db8c7041d.pdf" class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed">
                                <a href="https://evisitors.nic.in/public/Home.aspx" class="external_link" target="_blank">Schedule An Appointment</a>
                            </button>
                        </h5>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>