<div class="container-fluid policies hydro-bg">
    <h1 class="text-center wdet">Schemes</h1>
</div>

<div class="main gutter mt-5 ml-5 mr-5">
    <!-- Accordion -->
    <div class="_policy_accordion">
        <ul class="nav nav-tabs hydro-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="profile" aria-selected="false">Small Hydro</a>
            </li>          
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Small Hydro Power Scheme
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>The objective of the SHP scheme is to encourage the State Government entities and Independent Private Producers (IPPs) to set-up new Small Hydro projects so as to realise the entire 21000 MW potential in phased manner. The immediate objective is to encourage IPPs to start work on new projects of aggregate capacity of 1000 MW, in addition to completing the ongoing projects, so as to reach a cumulative capacity of 6000 MW by the year 2022. The scheme also envisages support to set-up watermills for electrical and mechanical applications in remote and far-flung areas.</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>It is an ongoing programme, however continuation of scheme w.e.f 1st April 2017 onwards is under consideration of the Government.</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            The SHP Scheme will provide CFA/Grant/Subsidy for the following sub-heads:
                                            <ul>
                                                <li>Setting up new SHP Projects in the private / co-operative / Joint sector etc.</li>
                                                <li>Setting up new SHP Projects in the Government sector along with support for identification of new potential SHP sites, preparation of Detailed Project Report (DPR) including detailed survey & investigation (DSI) for SHP project site to the Central / State Govt. dept. & agencies/local bodies.</li>
                                                <li>Renovation and Modernization of existing SHP projects in the Government sector.</li>
                                                <li>Support for development/upgradation of Water Mills (mechanical/electrical output) and setting up Micro Hydel Projects (upto 100 KW capacity).</li>
                                                <li>Research & Development and Human Resource Development</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>The application for availing Subsidy has to submitted through the on-line portal only</td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>Dr. P.C. Pant, Director</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</div>