<style>
    .card-body.hrd {
    font-size: 1rem;
}
    main.ml-5.mr-5.hrd-text {
    margin-left: 4rem!important;
    margin-right: 4rem!important;
}
</style>
<div class="header wde international_relations_bg">
    <h1 class="text-center wdet international_relations_bg">{{page_title}}</h1>
</div>
<main class="ml-5 mt-5 mb-5 mr-5 hrd-text">
<div class="margin_boo">
    {{{overview}}}
</div>
</main>
<script>
 $("a:contains('Read')").css("text-align","center")
</script>