<div class="container-fluid wde">
  <h1 class="text-center wdet">{{page_title}}</h1>
</div>

<div class="container-fluid">
  <div class="hdpart">
    <div class="col-sm-12 mt-3">
      <div class="margin_boo">

India is one of the Founding Members of the International Renewable Energy Agency (IRENA), which is an intergovernmental organization that supports countries in their transition to a sustainable energy future and serves as the principal platform for international cooperation in Renewable Energy, a centre of excellence and a repository of knowledge in policy matters, RE technologies, RE resources and financing of RE sector. IRENA promotes adoption and sustainable use of all forms of renewable energy, including bioenergy, geothermal, hydropower, ocean, solar and wind energy in the pursuit of sustainable development, energy access, energy security and low-carbon economic growth and prosperity. <br><br>

With a mandate from countries around the world, IRENA encourages governments to adopt enabling policies for renewable energy investments, provides practical tools and policy advice to accelerate renewable energy deployment, and facilitates knowledge sharing and technology transfer to provide clean, sustainable energy for the world’s growing population. <br><br>

India served as a Member of the IRENA Council and also Chaired the IRENA Council Meetings in 2015. The IRENA Council is accountable to the Assembly and facilitates consultations and cooperation among Members and considers the draft work programme, draft budget and annual report. India regularly participates in the meetings of council and Annual General Assembly of IRENA and provides constrictive suggestions.  <br><br>
      </div>
    </div>
  </div>
</div>