<div class="container-fluid wde">
    <h1 class="text-center wdet">HARNESSING SOLAR POWER FOR PROSPEROUS RURAL INDIA</h1>

</div>
<main class="mt-5 mb-5 ml-5 mr-5">
    <div class="content">
        <h5>Central Government’s new Solar Pump Scheme supports the irrigation needs of farmers and gives an opportunity
            to earn extra income</h5>
        <b>For Farmers Using Diesel Pumps</b>
        <li>Installation of 17.5 lakh solar energy-driven agricultural pumps in next four years</li>
        <li>For next 25 years, reduce diesel expenses and get relief from problems in maintaining the diesel-powered
            water pumps</li>
        <li>Downfall in pollutants from diesel emission</li>
    </div>
    <div class="content-2 mt-5 mb-5">
        <b>For Farmers Using Electricity Pumps</b>
        <li>10 lakh grid-connected agricultural pumps to run on solar energy</li>
        <li>For next 25 years generate additional income by selling back surplus power to the grid/DISCOMs</li>
        <li>Relief from any erratic power supply for irrigation</li>
    </div>
    <br>



</main>