<div class="container-fluid wde newthd">
  <h1 class="text-center wdet">New Technologies</h1>

</div>
<main class="mr-5 ml-5">
  <div class="htitle mt-4"></div>
  <div class="banner text-center">
  </div>
  <div class="page-text mt-4">
    <p>
      The Ministry of New and Renewable Energy (MNRE) has taken up the following programs on various New
      Technologies, As part of these programs, research, development and demonstration projects have been
      initiated at various research, scientific and educational institutes, universities, national laboratories,
      industry, etc. These projects are helping in the development of indigenous research and industrial base,
      expertise, trained manpower and prototypes/devices/systems in the country  
    </p>
  </div>

  <div class="newtech-tab mt-5 mb-5">
    <div class="vertical-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#pag1" role="tab" aria-controls="home">Ocean Energy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag2" role="tab" aria-controls="profile">Hydrogen Energy</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag3" role="tab" aria-controls="messages">Chemical Energy</a>
        </li> --}}
       

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag4" role="tab" aria-controls="settings">Geo Thermal Energy</a>
        </li>

      

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag5" role="tab" aria-controls="settings">Energy Storage</a>
        </li>


      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="pag1" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Ocean Energy</h3>
           <p>As per a study conducted by the Indian Institute of Technology, Chennai in association with CRISIL Risk and Infrastructure Solutions Limited in December 2014, the tidal power potential is estimated at around 12,455 MW. The potential areas with low/medium tidal wave strength are in the Gulf of Khambat, Gulf of Kutch & southern regions in Gujarat, Palk Bay- Mannar Channel in Tamil Nadu, and Hoogly river, South Haldia & Sunderbans in West Bengal. Tidal energy is still in Research & Development (R&D) phase and has not been implemented on a commercial scale in India. The earlier efforts for harnessing tidal power were not successful due to high capital cost ranging from Rs. 30 crore to Rs. 60 crore per MW.</p>
            <a href="/new-technologies/ocean-energy"><button type="button" class="btn btn-secondary newtbt">Know
                More</button></a>
          </div>
        </div>
        <div class="tab-pane" id="pag2" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Hydrogen Energy</h3>
            <p>MNRE has been supporting a broad based Research Development and Demonstration (R&D) programme on Hydrogen Energy and Fuel. Projects are supported in industrial, academic and research institutions to address challenges in production of hydrogen from renewable energy sources, its safe and efficient storage, and its utilization for energy an transport applications through combustion or fuel cells. With respect to transportation, major work has been supported to Banaras Hindu University, IIT Delhi, and Mahindra & Mahindra. This has resulted in development and demonstration of internal combustion engines, two wheelers, three wheelers, and mini buses that run on hydrogen fuel. Two hydrogen refuelling stations have been established (one each at Indian Oil R&D Centre, Faridabad and National Institute of Solar Energy, Gurugram).</p>
            <a href="/new-technologies/hydrogen-energy"><button type="button" class="btn btn-secondary newtbt">Know
                More</button></a>
          </div>
        </div>
        {{!-- <div class="tab-pane" id="pag3" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Chemical Sources of Energy (Fuel Cells)</h3>
           <!-- <p>The main objective of the Chemical Sources of Energy Programme is the development and applications of
              fuel cell technology which produces electricity, water, and heat through a reaction between hydrogen and
              oxygen/air.

              The fuel cell technology offers high conversion efficiency, modularity, compactness and noise-free
              operations.

              Fuel Cells are environmentally benign. Hydrogen is the primary fuel for these cells. Other fuels can also
              be used to produce hydrogen gas with the aid of reformers. Because of modular nature, fuel cells are
              ideally suited for decentralized power generation and for automotive application. Prototypes of polymer
              electrolyte membrane or proton exchange membrane fuel cells (PEMFCs) and phosphoric acid fuel cells
              (PAFCs) have been developed in kW size in India. The applications of these prototypes have been
              demonstrated for power generation (PEMFC & PAFC) and transport sectors (PEMFC).

              A fuel cell-battery hybrid vehicle with indigenously developed PEMFC stack of 10kW had undergone field
              performance evaluation. Efforts made are expected to lead to the indigenous production and wider
              applications of fuel cell systems in the country.
            </p> -->
            <a href="/new-technologies/chemical-sources-of-energy"><button type="button"
                class="btn btn-secondary newtbt">Know More</button></a>
          </div>
        </div> --}}
        

        <div class="tab-pane" id="pag4" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Geothermal</h3>
             <p>Geo-thermal resources in India have been mapped by Geological Survey of India (GSI). Broad estimate suggests that there could be 10 GW geo-thermal power potential. Present efforts are towards establishing cost-competitive geo-thermal potential in India.</p>
            <a href="/new-technologies/geo-thermal-energy"><button type="button" class="btn btn-secondary newtbt">Know
                More</button></a>
          </div>
        </div>

        
        <div class="tab-pane" id="pag5" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Energy Storage</h3>
            <p>Energy storage can play a very important role in grid integration and balancing of variable generation sources. By increasing the system’s overall flexibility, it can improve power quality, reduce peak demand, enhance capacity of distribution / transmission grids, avoid/reduce deviation penalties etc. Use of energy storage systems by residential, commercial or industrial consumers, in conjunction with renewable energy has potential to improve power quality and reliability for such consumers. This would also allow for minimization of diesel consumption from back-up power applications. Energy storage is the main component of EVs both in terms of cost and performance determination. The thrust for electric mobility utilizing indigenous modern and reliable energy storage would significantly reduce the country’s dependence on imported fossil fuels and energy storage systems. The NITI Aayog is coordinating the work relating to energy storage.</p>
            <a href="/new-technologies/energy-storage"><button type="button" class="btn btn-secondary newtbt">Know
                More</button></a>
          </div>
        </div>



      </div>

    </div>
  </div>
 <!-- <div class="htitle mt-5">
    <h2 class="scheme">Scheme</h2>
  </div>


  <div class="container mb-5">

    <div class="row pdf ml-5 mr-5 mt-5">
      <div class="col viewdoc">
        <span class="date">12/03/2017</span>
        <h4 class="guideh">PDF Name</h4>
      </div>
      <div class="col-sm-3">
        <a href="http://10.246.24.71{{this.tender_document.url}}" target="_blank" class="ml-1"><img class="pdf"
            src="/img/view-pdf.png" alt="view"></a>
        <a href="http://10.246.24.71{{this.tender_document.url}}" target="_blank" class="ml-1"><img class="pdf"
            src="/img/download-pdf.png" alt="download"></a>
      </div>
    </div>



  </div> -->


  <script type="text/javascript">

    $('map').imageMapResize();

  </script>
</main>
<!-- Modal Ocean Energy -->
<div class="modal fade" id="exampleModal34" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelbio"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="md">
    <div class="modal-content" id="mdcontent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ocean Energy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mdbody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <a href="/newt-ocean"><button type="button" class="btn btn-secondary newtbt">Know More</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Geo Thermal -->
<div class="modal fade" id="exampleModalgeo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelbio"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="md">
    <div class="modal-content" id="mdcontent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Geo Thermal Energy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mdbody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <a href="/newt-geo"><button type="button" class="btn btn-secondary newtbt">Know More</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Battery Operated -->
<div class="modal fade" id="exampleModalbattery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelbio"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="md">
    <div class="modal-content" id="mdcontent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Battery Operated Vehicles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mdbody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <a href="/newt-battery"><button type="button" class="btn btn-secondary newtbt">Know More</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Chemical -->
<div class="modal fade" id="exampleModalchemical" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelbio"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="md">
    <div class="modal-content" id="mdcontent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">chemical sources of energy (fuel cells)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mdbody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <a href="/newt-chemical"><button type="button" class="btn btn-secondary newtbt">Know More</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Hydrogen -->
<div class="modal fade" id="exampleModalhydro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelbio"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="md">
    <div class="modal-content" id="mdcontent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hydrogen Energy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mdbody">
        <p>Hydrogen is a clean fuel and an energy carrier that can be used for a broad range of applications as a
          possible substitute to liquid and fossil fuels. The Ministry has supported research, development and
          demonstration projects on various aspects of hydrogen energy including its production, storage and use a fuel
          for generation of mechanical/thermal/electrical energy. The application of hydrogen in fuel cells for power
          generation has been demonstrated as a result of initiatives taken by this Ministry. Hydrogen furled small
          power generating sets, two wheeler (motor cycles), three wheeler and catalytic combustion systems for
          residential and industrial sectors and fuel cell buses have been developed and demonstrated.</p>
        <a href="/newt-hydrogen"><button type="button" class="btn btn-secondary newtbt">Know More</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Biofuels -->
<div class="modal fade" id="exampleModalbio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelbio"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="md">
    <div class="modal-content" id="mdcontent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Biofuels</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mdbody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <a href="/newt-biofuels"><button type="button" class="btn btn-secondary newtbt">Know More</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>