<style>
    .section__text--not{
        padding: 10rem
    }
    .banner__header--text{
        font-size: 3rem;
        padding: 4rem 0rem;
    }
    .backHome__button{
        background-color: rgba(45, 202, 24, 0);
        border-radius: none;
        margin-top: 3rem;
        border-color: #bada55
    }
    .backHome__button:hover{
        background-color: #bada55;
        color: #fff
    }
</style>
<main class="pa-5 ma-5">
    <div class="container">
        <div class="row">
            <div class="body-text section__text--not">
                <h1 class="text-danger banner__header--text">
                    ERROR : 404
                </h1>
                <h1 class="section__text--notFound">
                    We couldn't find what you were looking for!
                </h1>
                <a href="/" class="btn backHome__button">Back To Home</a>
            </div>
        </div>
    </div>
</main>