<style>
    .card-body.hrd {
        font-size: 1rem;
    }

    main.ml-5.mr-5.hrd-text {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
</style>
<div class="header wde quality-bg">
    <h1 class="text-center wdet">Quality, Standard & Lab Policy</h1>
</div>
<main class="ml-5 mr-5 mt-5 pb-5 mb-5 hrd-text">
    {{!-- <div class="margin_boo">{{{OVERVIEW}}}</div> --}}
    <div class="margin_boo">
        <p><b>Quality Control in SPV</b></p>
        <ul>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Gazette-notification_quality-control-order-of-SPV-Systems-Devices-and-Components-Goods.pdf" target="_blank">Notification of "Quality control order of Solar Photo voltaic Systems, Devices and Components Goods” dated 05.09.2017. (Posted on 07.09.2017)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/new.docx" target="_blank">Implementation of Quality Control Order on SPV Goods 2017(24KB docx) (Posted on 21.01.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Guidelines-for-series-approval-of-SPV-modules-Quality-control-order-2017.pdf" target="_blank">Guidelines for series approval of SPV Modules for conducting testing in test Labs for implementation of Solar Photovoltaics Systems, Devices and Component Goods Order 2017. (Posted on 09.07.2018)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Final Revised approved Series Guidelines on SPV Modules 31.12.2018.pdf" target="_blank">Revised Guidelines for series approval of SPV Modules for conducting testing in Test Labs for implementation of Solar Photovoltaics Systems, Devices and Component Goods Order 2017.  (Posted on 16.04.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/SeriesGuidelines.docx" target="_blank">Guidelines for series approval of Storage Batteries for conducting testing in test Labs for implementation of Solar Photovoltaics Systems, Devices and Component Goods Order 2017(CRO).(Posted on 27-06-2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Seriesguidelinesoninverters.pdf" target="_blank">Guidelines for series approval of Solar PV Inverters for conducting testing in test Labs for implementation of Quality Control Solar Photovoltaics Systems, Devices and Component Goods Order 2017.(Posted on 26.08.2019)</a>
            </li>
        </ul>

        <p><b>Notifications on Quality Control Order</b></p>
        <ul>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Gazette-of-India-Quality-control-order-Gazette-notification-16042018.pdf" target="_blank">Notification of "Quality control order of Solar Photo voltaic Systems, Devices and Components Goods” dated 16.04.2018. (Posted on 20.04.2018)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Gazette-notification_quality-control-order-of-SPV-Systems-Devices-and-Components-Goods-dated-30052018.pdf" target="_blank">Revised Schedule of "Quality Control Order of Solar Photo Voltaic Systems, Devices and Components Goods 2017" dated 30.05.2018. (Posted on 01.06.2018)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/Gazette-of-India-Quality-control-order-notification-13072018.pdf" target="_blank">Notification of "Quality control order of Solar Photo voltaic Systems, Devices and Components Goods” dated 13.07.2018. (Posted on 16.07.2018)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/189450%28QCO%29_12th September 2018.pdf" target="_blank">Notification of Extension of implementation of Quality Control Order on SPV Systems. (Posted on 13.09.2018)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/notification published in Gazette on 12-10-2018.pdf" target="_blank">Notification of Extension of Self Certification Relaxation for Quality Control Order on SPV Modules, Components and Devices Order 2017. (Posted on 15.10.2018)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/CRO QC%28SPV%29_Implementation%282019%29.docx" target="_blank">Extension of Self Certification for Inverters under MNRE Quality Control Order on SPV 2017.(284KB pdf). (Posted on 07.01.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/uploads/Notification.pdf" target="_blank">Notification for BIS Extension for SPV Module Manufacturers who had submitted Modules for testing before or on 31/10/2018.(292KB pdf)(Posted on 14.02.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/QCO for Solar Thermal 2019-pages.pdf" target="_blank">Quality Control Order on Solar Thermal Systems/ Devices/Components Goods.(204KB pdf)(Posted on 26.03.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/uploads/LeadAcidBattery.pdf" target="_blank">OM regarding clarification on import of Lead Acid Battery for SPV Applications and other applications.(464KB pdf)(Posted on 07.05.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/webform/notices/OM %28Lead Acid Battery%29 Secretary Revenue.pdf" target="_blank">Introduction of mandatory BIS Certification on Solar PV modules, Inverters, Storage battery therefore etc.(467KB pdf)(Posted on 28.05.2019)</a>
            </li>
            <li>
                <a href="https://mnre.gov.in/sites/default/files/uploads/Published notifiecation on SPV_ Inverter 3.07.2019.pdf" target="_blank">Gazette notification for BIS extension for Inverters under MNRE Quality Control Order for SPV Systems, Components and Devices Order 2017(1.04MB pdf))(Posted on 04.07.2019)</a>
            </li>
        </ul>
    </div>
</main>