<style>
    .card-body.hrd {
        font-size: 1rem;
    }

    main.ml-5.mr-5.hrd-text {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
</style>
<div class="header wde">
    <h1 class="text-center wdet">R&D Format</h1>
</div>

{{!-- <div class="sub-header">
    <div class="row">
        <div class="col-sm-12 mt-3" style="margin:0 auto;">
            <h2 class="energtext text-center">HRD Policy of the Ministry</h2>
        </div>
    </div>
</div> --}}
<main class="ml-5 mr-5 hrd-text">
    {{#if articles}}
    <h1 class="text-center py-5">
        Documents
    </h1>
    <div class="pdf-view pb-5">
        {{#each articles}}
        <div class="row pdf ml-5 mr-5 mt-5">
            <div class="col viewdoc">
                
                <span class="date">&nbsp;</span>
                <h4 class="guideh">{{this.title}}</h4>
            </div>
            <div class="col-sm-3">
                <a target="_blank" href="{{this.url}}" class="ml-1">
                    <img class="pdf" src="/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{this.url}}" class="ml-1 download_file">
                    <img class="pdf" src="/img/download-pdf.png" alt="view">
                </a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</main>