<style>
    .card-body.hrd {
        font-size: 1rem;
    }

    main.ml-5.mr-5.hrd-text {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
</style>
<div class="header wde solar-bg">
    <h1 class="text-center wdet">Suryamitra</h1>
</div>
{{!-- 
<div class="sub-header">
    <div class="row">
        <div class="col-sm-12 mt-3" style="margin:0 auto;">
            <h2 class="energtext text-center"></h2>
        </div>
    </div>
</div> --}}
<main class="ml-5 mr-5 mt-5 pt-1 mb-5 pb-5 hrd-text">
	<div class="margin_boo">{{{OVERVIEW}}}</div>
</main>