    <div class="container-fluid policies mb-5 solar-bg">
    <h1 class="text-center wdet">Solar RPO and REC Framework</h1>

</div>
<main class="ml-5 mr-5 mb-5">
<div class="content-text">
    <p>
        Among the various renewable energy resources, solar energy potential is the highest in the country. In most parts of India, clear sunny weather is experienced 250 to 300 days a year. The annual radiation varies from 1600 to 2200 kWh/m2, which is comparable with radiation received in the tropical and sub-tropical regions. The equivalent energy potential is about 6,000 million GWh of energy per year.
    </p>
    <p>
    The National Action Plan on Climate Change also points out: “India is a tropical country, where sunshine is available for longer hours per day and in great intensity. Solar energy, therefore, has great potential as future energy source. It also has the advantage of permitting the decentralized distribution of energy, thereby empowering people at the grassroots level”.
    </p>
    <p>
    With the objective to establish India as a global leader in solar energy, by creating the policy conditions for its diffusion across the country as quickly as possible Government of India launched National Solar Mission.
    </p>
    <p>
     The National Tariff Policy was amended in January 2011 to prescribe solar-specific RPO be increased from a minimum of 0.25 per cent in 2012 to 3 per cent by 2022. CERC and SERCs have issued various regulations including solar RPOs, REC framework, tariff, grid connectivity, forecasting etc. for promoting solar energy. Many States have come up with up their own Solar Policy.   
    </p>
    <p>
     In view of the ongoing efforts of Central and State Governments and various agencies for promoting solar energy, Ministry of New and Renewable Energy has undertaken an exercise to track and analyze the issues in fulfillment of Solar Power Purchase Obligation and implementation of Solar REC framework in India. This would help various stakeholders to understand the challenges and opportunities in the development of solar power. It would also include monitoring of Solar RPO Compliance; analyzing key issues related to the regulatory framework for solar in various states of India.   
    </p>
    <p>The information has been divided into following categories:</p>
    
    <li>State-wise solar RPO targets</li>
    <li>State Solar Policies</li>
    <li>Solar RPO Requirement by 2022</li>
    <li>Solar RPO Calculator</li>
    <li>State-wise solar installed capacity break- up</li>
    <li>Expected Solar RPO requirement and compliance for 2012-13</li>
    <li>Expected Solar RPO requirement and compliance for 2013-14</li>
    <li>Analysis of State RPO Regulations</li>
    <li>Update on Solar REC Market</li>
    <li>Analysis of SERCs RPO regulation for Captive Users></li>
    <br>
    <p>
        Utmost care has been taken to compile the information, however, in case of any discrepancy or further clarification the primary source only may be treated as authentic.


    </p>
</div>
</main>