<div class="container-fluid policies solar-bg">
    <h1 class="text-center wdet">Schemes</h1>
</div>

<div class="main gutter mt-5 ml-5 mr-5">
    <!-- Accordion -->
    <div class="_policy_accordion">
        <ul class="nav nav-tabs solar-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="profile" aria-selected="false">Grid Connected</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home"
                    aria-selected="true">Solar Offgrid</a>
            </li>            
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Development of Solar Parks and Ultra Mega Solar Power Projects
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>Solar power projects can be set up anywhere in the country, however the
                                            scattering of solar power projects leads to higher project cost per MW and
                                            higher transmission losses. Individual projects of smaller capacity incur
                                            significant expenses in site development, drawing separate transmission
                                            lines to nearest substation, procuring water and in creation of other
                                            necessary infrastructure. It also takes a long time for project developers
                                            to acquire land, get change of land use and various permissions, etc. which
                                            delays the project. To overcome these challenges, the scheme for
                                            “Development of Solar Parks and Ultra-Mega Solar Power Projects” was rolled
                                            out in December, 2014 with an objective to facilitate the solar project
                                            developers to set up projects in a plug and play model.</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>Up to 2021-22</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>The scheme for “Development of Solar Parks and Ultra Mega Solar
                                                    Power Projects” was rolled out by Ministry of New & Renewable Energy
                                                    on 12-12-2014. Under this scheme, it was proposed to set up at least
                                                    25 Solar Parks and Ultra Mega Solar Power Projects targeting over
                                                    20,000 MW of solar power installed capacity within a span of 5 years
                                                    starting from 2014-15.</li>
                                                <li>The capacity of the Scheme has been enhanced from 20,000 MW to
                                                    40,000 MW vide this Ministry’s order dated 21-03-2017. These parks
                                                    are proposed to be set up by 2021-22.</li>
                                                <li>The scheme envisages supporting the States/UTs in setting up solar
                                                    parks at various locations in the country with a view to create
                                                    required infrastructure for setting up of solar power projects. The
                                                    solar parks provide suitable developed land with all clearances,
                                                    transmission system, water access, road connectivity, communication
                                                    network, etc. The scheme facilitates and speed up installation of
                                                    grid connected solar power projects for electricity generation on a
                                                    large scale.</li>
                                                <li>All the States and Union Territories are eligible for getting
                                                    benefit under the scheme.</li>
                                                <li>The capacity of the solar parks shall be 500 MW and above. However,
                                                    smaller parks are also considered where contiguous land may be
                                                    difficult to acquire in view of difficult terrain and where there is
                                                    acute shortage of non-agricultural land.</li>
                                                <li>The solar parks are developed in collaboration with the State
                                                    Governments and their agencies, CPSUs, and private entrepreneurs.
                                                    The implementing agency is termed as Solar Power Park Developer
                                                    (SPPD). There are 7 modes for selection of SPPDs.</li>
                                            </ul>
                                            <p><b>CFA Pattern:</b></p>
                                            <ul>
                                                <li>Under the scheme, the Ministry provides Central Financial Assistance
                                                    (CFA) of up to Rs. 25 lakh per solar park for preparation of
                                                    Detailed Project Report (DPR). Beside this, CFA of up to Rs. 20.00
                                                    lakh per MW or 30% of the project cost, including Grid-connectivity
                                                    cost, whichever is lower, is also provided on achieving the
                                                    milestones prescribed in the scheme.</li>
                                                <li>Further, the CFA of Rs. 20 Lakh /MW is apportioned on 60:40 basis
                                                    towards development of internal infrastructure of solar park to the
                                                    SPPD and for development of external transmission system to Central
                                                    Transmission Utility (CTU)/ State Transmission Utility (STU)
                                                    respectively i.e. Rs. 12 lakh per MW or 30% of the project cost
                                                    whichever is lower is provided to the SPPDs towards development of
                                                    internal infrastructures if the solar parks and Rs. 8 lakh per MW or
                                                    30% of the project cost whichever is lower is provided to the CTU or
                                                    STU as the case may be towards development of external transmission
                                                    system.</li>
                                                <li>The above CFA pattern is applicable only for Mode 1 to Mode-5.
                                                    Mode-6 is without CFA by private entrepreneurs. Further, under
                                                    Mode-7 the entire CFA of Rs. 20 Lakh/MW is only for External
                                                    Transmission Infrastructure System.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>By submitting proposals to MNRE/SECI</td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ol>
                                                <li>Sh. Dilip Nigam, Advisor (NSM), Ministry of New and Renewable
                                                    Energy<br />Email-dilipnigam@nic.in</li>
                                                <li>Managing Director, Solar Energy Corporation of India (SECI), 1st
                                                    Floor, D-3, A Wing, Prius Platinum Building, District Centre, Saket,
                                                    New Delhi-110017, Tel: 011-71989201, Fax: 011-71989235, Email:
                                                    md@seci.co.in</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/d9f99dc08abd4b6988ba7ee3be288ee1.pdf" target="_blank">Scheme-for development-of-Solar-Park-&-Ultra-Mega-Solar-Power-Projects</a></li>
                                                <li><a href="http://10.246.24.71/uploads/17a5b00e6fb041d98778b857ec10e53a.pdf" target="_blank">Scheme for enhancement of capacity of Solar Park Scheme from 20 GW to 40GW</a></li>
                                                <li><a href="http://10.246.24.71/uploads/3cf0f88cb0934c9ab71b18a0f0848b3e.pdf" target="_blank">Format for submission of Proposal for New Solar Parks</a></li>
                                                <li><a href="http://10.246.24.71/uploads/a8216f3b7d964dbab03fdaf0a6a9e8be.pdf" target="_blank">Standard Table of Contents for submission DPRs of Solar Park</a></li>
                                                <li><a href="http://10.246.24.71/uploads/79d976554c8440f7b8de460a15c97b6f.pdf" target="_blank">OM 29-09-2016 Apportionment of CFA</a></li>
                                                <li><a href="http://10.246.24.71/uploads/4912cd8c044042cf80b00c4e756e16b2.pdf" target="_blank">OM 14-08-2017-Clarification on applicability of EIA for Solar Park</a></li>
                                                <li><a href="http://10.246.24.71/uploads/7d7e5806f4af4181a8b1732d471ffade.pdf" target="_blank">OM 25-07-2017 Verification-of-Receipt-of-Material-for-Pooling-Stations-by-SECI</a></li>
                                                <li><a href="http://10.246.24.71/uploads/36a92e3dbb15464e8d9e9aa4be0852c5.pdf" target="_blank">Corrigendum 19-06-2017 Purchase-of-at-least-20-percent-of-solar-power-produced in-Solar-Park-through-DISCOMSs</a></li>
                                                <li><a href="http://10.246.24.71/uploads/659550a9f9504bde8c7ec055a387999a.pdf" target="_blank">OM 18-01-2018-Modification-in-Milestones-on-release-of-CFA-to-CTU-STU</a></li>
                                                <li><a href="http://10.246.24.71/uploads/c8ea400e871e4a0d86172760efb9f285.pdf" target="_blank">OM 22-05-2018-Modification in selection of SPPDs</a></li>
                                                <li><a href="http://10.246.24.71/uploads/bbc36396b940410087eb00c3c7c66442.pdf" target="_blank">OM 02-07-2018 Extension-of-timelines of Solar Park Scheme</a></li>
                                                <li><a href="http://10.246.24.71/uploads/0877ab9137174556951df725a4091eee.pdf" target="_blank">OM 18-09-2018 Modification in Mode 5A & Mode 6 of SPPD under Solar Park Scheme</a></li>
                                                <li><a href="http://10.246.24.71/uploads/f613c3a46a794d28b2969b005448914d.pdf" target="_blank">OM 05-02-2019 Modification in Solar Park Scheme Time Lines and Mode IV</a></li>
                                                <li><a href="http://10.246.24.71/uploads/34a20e5f65df4239928af6d1fdabf18c.pdf" target="_blank">OM 09-03-2019 Introduction of Mode-7 under Solar Park Scheme</a></li>
                                                <li><a href="http://10.246.24.71/uploads/36a92e3dbb15464e8d9e9aa4be0852c5.pdf" target="_blank">Corrigendum 19-07-2019 of OM dated 05-02-2019</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Scheme for setting up of over 5000 MW Grid-connected SPV power projects under IV of JNNSM PHASE-II
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>One of the main thrusts of this batch is to further encourage competitiveness through scaling up of project sizes and introduction of efficient and transparent e-bidding and e-auctioning processes. The main objectives (as per guidelines) of the Scheme are:
                                            <ul>
                                                <li>Setting up of over 5000 MW Grid-connected SPV power projects under IV of JNNSM PHASE-II</li>
                                                <li>Scaling up of sizes of projects thereby leading to economies of scale.</li>
                                                <li>Facilitating speedier implementation of the solar power projects through adoption of mechanism of solar parks to meet the Phase-II target of NSM, wherever feasible, subject to meeting the timelines set by the Government of India.</li>
                                                <li>To supplement Grid power and spread out solar power projects throughout the country thereby reducing transmission cost and losses.</li>
                                                <li>Provide long-term visibility and road map for solar power development enabling creation of India as manufacturing hub in the Solar PV.</li>
                                                <li>To create good business model and systems for various State Governments and DISCOMs to take forward.</li>
                                                <li>To facilitate energy security and fulfillment of Renewable Purchase Obligation (RPO) requirement of the obligated entities.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>Scheme was launched on dated 14.03.2016, from FY 2015-16 to 2018-19</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            Salient features are given as under:
                                            <ul>
                                                <li>SECI is the implementing Agency</li>
                                                <li>Viability Gap Funding (VGF) support of Rs. 5050 crore will be provided for setting up of at least 5000 MW Grid-connected Solar PV power projects by Solar Power Developers on Build-Own-Operate basis. This includes handling charges to SECI @ 1% of the total grant disposed and Rs. 500 crore for payment security mechanism (PSM) for all three VGF schemes of 750 MW, 2000 MW and 5000 MW.</li>
                                                <li>5,000 MW or such capacity as may be feasible within the budgeted amount.</li>
                                                <li>Approximately 1,250 MW capacity is envisaged for bidding in each of the four Financial Years viz. 2015-16, 2016-17, 2017-18 and 2018-19.</li>
                                                <li>The Solar PV Projects shall be installed and commissioned within 13 months from the date of singing of their Power Purchase Agreements (PPAs) subject to provisions of the PPAs and guidelines of the scheme.</li>
                                                <li>This scheme provides the framework of guidelines to carry out the bidding for capacity from minimum 5000 MW to any considerable capacity (MW) limit of solar power until the allocated fund for the scheme remains saved i.e. Rs. 5050 Crore.</li>
                                                <li>Scheme also allows the interstate transmission of the solar power (recent amendment).</li>
                                                <li>The Scheme has added advantage of Payment Security Mechanism (fund provision of Rs. 500 Cr.) as approved by CCEA to increase the reliability and stability of business for project life.</li>
                                                <li>The Project developer will be provided a Viability Gap Funding based on his bid. The upper limit for VGF is kept at Rs. 1.0 crore/MW for open category and Rs. 1.25 crore/MW for projects in Domestic Content Requirement (DCR) category. Amendment in guidelines regarding DCR category has also been issued.</li>
                                                <li>SECI will select projects through competitive e-bidding based on minimum VGF sought (quoted in INR/MW), or there may be a provision for quoting a discounted tariff (quoted in INR/kWh). In case of discounted tariff option, the bidders will bid zero VGF and indicate its fixed tariff for all the years.</li>
                                                <li>The bidding will be State specific and conducted through an ‘e-bidding along with e-Reverse Auction’ process and the interested bidders shall be required to register themselves on a web-based portal identified by SECI for e-bidding/e-auction.</li>
                                                <li>The selection of bids will be done by SECI based on the lowest VGF /discounted tariff in the ascending order as quoted by the bidders during the auctioning, till the entire capacity is allocated. The selected bidders will be awarded the projects based on the respective VGF/ discounted tariff quoted for the corresponding projects.</li>
                                                <li>The bidders will be free to avail fiscal incentives like Accelerated Depreciation (AD), concessional customs and excise duties, tax holidays, etc. available for such projects. As equal opportunity is being provided to all bidders at the time of tendering itself, it is up to the bidders to avail various tax and other benefits. However, no bidder will be allowed to claim both AD and VGF.</li>
                                                <li>SECI will sign Power Purchase Agreement with developers with pre-determined or discounted tariff (as applicable) fixed by MNRE and back-to-back Power Sale Agreement with buying DISCOMs/State Utilities/bulk consumers. SECI will be entitled to charge a trading margin of Rs. 0.07 per kWh. The solar power tariff as to be paid by SECI to developers will be fixed by MNRE depending on market conditions. MNRE will constitute an Empowered Committee to determine the tariff for purchase of solar power by SECI. This Committee will give recommendations based on which MNRE will, with the approval of Minister in-charge, fix tariff for purchase of solar power by SECI every year before tendering process is started or as and when required. Tariff for sale of solar power by SECI will be determined based on the tariff for purchase of solar power by adding trading margin of Rs. 0.07 per kWh.</li>
                                                <li>Projects could be set up in the Solar Parks being developed under a separate MNRE scheme and also at other locations, which could be selected by the bidders on their own. This would be clarified in the tender document by SECI based on available space in solar park in each State.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Financial assistance/Subsidy Pattern</td>
                                        <td>
                                            <ul>
                                                <li>The Project developer will be provided a Viability Gap Funding based on his bid. The upper limit for VGF is kept at Rs. 1.0 crore/MW for open category and Rs. 1.25 crore/MW for projects in Domestic Content Requirement (DCR) category. Amendment in guidelines regarding DCR category has also been issued.</li>
                                                <li>100% VGF will be released to the developer on commissioning (COD) of power plant. SECI will obtain Bank Guarantee (BG) for 20% of the VGF amount, which will be reduced by 5% each year and fully returned in four years.</li>
                                                <li>Projects for allocated capacity were awarded to developer who quotes the lower VGF for given bench mark price.</li>
                                                <li>From financial year 2017-18 the bidding for installation of solar power projects has been started on discounted tariff and zero VGF</li>
                                                <li>The bidders are free to avail fiscal incentives like Accelerated Depreciation (AD), concessional customs and excise duties, tax holidays, etc. available for such projects. As equal opportunity is being provided to all bidders at the time of tendering itself, it is up to the bidders to avail various tax and other benefits. However, no bidder will be allowed to claim both AD and VGF.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ol>
                                                <li>Sh. Dilip Nigam, Advisor (NSM), Ministry of New and Renewable Energy<br />Email-dilipnigam@nic.in</li>
                                                <li>Managing Director, Solar Energy Corporation of India (SECI), 1st Floor, D-3, A Wing, Prius Platinum Building, District Centre, Saket, New Delhi-110017, Tel: 011-71989201, Fax: 011-71989235, Email: md@seci.co.in</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/72f420e1cfa448ecbb6934e939ec0f96.pdf" target="_blank">Administrative approval Scheme 5000 MW dated 23-02-2016</a></li>
                                                <li><a href="http://10.246.24.71/uploads/b72658b176d64e4385ff8aa092cd1357.pdf" target="_blank">Guidelines 5000MW VGF dated 14-03-2016</a></li>
                                                <li><a href="http://10.246.24.71/uploads/b72658b176d64e4385ff8aa092cd1357.pdf" target="_blank">Corrigendum-Scheme-for-over-5000MW-VGF-NSM</a></li>
                                                <li><a href="http://10.246.24.71/uploads/81584e6c17764fe0bc1f70176663e59b.pdf" target="_blank">Corrigendum dated 21-02-2018</a></li>
                                                <li><a href="http://10.246.24.71/uploads/38f5c362b57741a6bb33b4e6c27dc952.pdf" target="_blank">Corrigendum Land 2000 MW-5000 MW</a></li>
                                                <li><a href="http://10.246.24.71/uploads/d863383d33da4d4583b24812cf4bff69.pdf" target="_blank">Amendment-Scheme-for-over-5000MW-Grid-Connected-SNA Role</a></li>
                                                <li><a href="http://10.246.24.71/uploads/8c1effcbf3a544c0a1de2c3a3b796806.pdf" target="_blank">OM-mandatory-registration-with-SRE_SNA-for-RE-power-projects</a></li>
                                                <li><a href="http://10.246.24.71/uploads/198c86c2be5849149680667487ab0f72.pdf" target="_blank">5000 MW Govt delay amendments dated 30 Aug 18</a></li>
                                                <li><a href="http://10.246.24.71/uploads/57eb94edd2914132994563987dc21d1c.pdf" target="_blank">3 months amendment (1)</a></li>
                                                <li><a href="http://10.246.24.71/uploads/1a69560d15084c65a6cc5fd7ca4b5c53.pdf" target="_blank">NE subset scheme administrative order issued 2 of 1 final</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Scheme for Setting up of Distributed Grid-Connected Solar PV Power Projects in Andaman &Nicobar and Lakshadweep Islands with Capital Subsidy from MNRE
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>To develop Carbon Free Islands by phasing out use of diesel for generation of electricity and to contribute to the National Action Plan on Climate Change and Greening of the Islands along with reduction in cost of electricity generation</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>2016-17 to 2019-20</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li><strong>Eligible Organisations</strong>: CPSUs like NTPC, NLC, SECI, REIL, etc.</li>
                                                <li><strong>Types of Projects Supported</strong>: Standalone Solar PV Power Project, standalone Battery Energy Storage System (BESS), Solar PV plant with Battery Energy Storage System (BESS), Transmission System for Solar PV Power Plant and Floating Solar PV power plants (with or without Battery Energy Storage System) in Andaman & Nicobar Islands and Lakshadweep Islands.</li>
                                                <li><strong>GoI Support offered</strong>: CFA of upto 40% of the project Cost;</li>
                                                <li><strong>Implementation Arrangement</strong>: The scheme is being implemented through Central Public Sector Undertakings (CPSUs) viz., NTPC, NLC, REIL, SECI etc. on Build, Own and Operate (BOO) basis. Andaman & Nicobar and Lakshadweep Administrations will buy the electricity from the Implementing Agencies at a tariff determined by JERC/CERC by taking into account the CFA</li>
                                                <li><strong>Mode of allocation</strong>: Allocation through MNRE based on proposals received</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>By submitting proposals to MNRE</td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ol>
                                                <li>Shri Ruchin Gupta, Director, Ministry of New & Renewable Energy, Block-14, C.G.O. Complex. Lodhi Road, New Delhi – 110003. Telefax: 011-24362488, Email: ruchin.gupta@gov.in</li>
                                                <li>Managing Director, Solar Energy Corporation of India (SECI), 1st Floor, D-3, A Wing, Prius Platinum Building, District Centre, Saket, New Delhi-110017, Tel: 011-71989201, Fax: 011-71989235, Email: md@seci.co.in</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/d0ab04b773a14e34a91a92f346f985f7.pdf" target="_blank">Administrative Approval dtd 5th April 2016 regarding Guidelines for implementation of Scheme for Setting up of 40 MW Distributed Grid-Connected Solar PV Power Projects I Andaman & Nicobar and Lakshadweep Islands with Capital Subsidy from MNRE.</a></li>
                                                <li><a href="http://10.246.24.71/uploads/ac0a30ed5b084ec4a6beff7087c713a1.pdf" target="_blank">Corrigendum dtd 21st May 2018 to Administrative Approval dtd 5th April 2016.</a></li>
                                                <li><a href="http://10.246.24.71/uploads/bd9541cc45524dceb72bed74e2e5de18.pdf" target="_blank">Amendment dated 26th November 2018 regarding modifications and additions to Administrative Approval dtd 5th April 2016.</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Central Public Sector Undertaking (CPSU) Scheme Phase-II (Government Producer Scheme) for setting up 12,000 MW grid-connected Solar Photovoltaic (PV) Power Projects by the Government Producers with Viability Gap Funding (VGF) support for self-use or use by Government/ Government entities, either directly or through Distribution Companies (DISCOMS)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>To set up solar PV projects through Government Producers using domestic cells & modules in WTO compliant manner to facilitate national energy security and environment sustainability for Government purpose.</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>2019-20 to 2022-23</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li><strong>Eligible Organisations</strong>: Government Producers (PSUs/ Govt. Orgns.) which are under administrative control or have 50% shareholding of Central / State Govt.</li>
                                                <li><strong>GoI Support offered</strong>: VGF of upto Rs. 70 lakhs/ MW; actual VGF decided through bidding for VGF required.</li>
                                                <li><strong>Mode of allocation</strong>: Bidding through SECI on VGF required</li>
                                                <li><strong>Usage of solar power</strong>: Self-Use or use by Other Govt. Orgns. thorugh Discoms</li>
                                                <li><strong>Domestic Content Requirement</strong>: Domestically manufactured solar PV cells & Modules</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>Through participation in bids issued by Solar Energy Corporation of India Limited (SECI) under this Scheme</td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ol>
                                                <li>Shri Ruchin Gupta, Director, Ministry of New & Renewable Energy, Block-14, C.G.O. Complex. Lodhi Road, New Delhi – 110003. Telefax: 011-24362488, Email: ruchin.gupta@gov.in</li>
                                                <li>Managing Director, Solar Energy Corporation of India (SECI), 1st Floor, D-3, A Wing, Prius Platinum Building, District Centre, Saket, New Delhi-110017, Tel: 011-71989201, Fax: 011-71989235, Email: md@seci.co.in</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/fdd16dbd0a154973a7e5884edeed5e08.pdf" target="_blank">Administrative Approval dated 5th March 2019 regarding Scheme Guidelines for CPSU Scheme Phase-II (Government Producer Scheme)</a></li>
                                                <li><a href="http://10.246.24.71/uploads/396e0e17b5684ea09b2e33f6a6369497.pdf" target="_blank">Letter dated 3rd July 2019 to Electricity Distribution Companies in Government Sector and SECI regarding Scheme Modalities and Role of DISCOMS in MNRE's CPSU Scheme Phase-II</a></li>
                                                <li><a href="http://10.246.24.71/uploads/1b56005483204517822bf734413e6dd9.pdf" target="_blank">Format of undertaking from the Government Producers, under CPSU Scheme Phase-II</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Grid Connected Rooftop and Small Solar Power Plants Programme
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>For achieving cumulative capacity of 40,000 MW from Rooftop Solar (RTS) Projects by the year 2022.</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>Till 31.12.2022</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <p><b>Component A: Central Financial Assistance (CFA)* to Residential sector - 4 GW</b></p>
                                            <ul>
                                                <li>CFA @ 40% for capacity up to 3 kWp</li>
                                                <li>CFA @ 20% for capacity beyond 3 kWp and up to 10 kWp</li>
                                                <li>CFA @ 20%  for GHS/RWA capacity up to 500 kWp (limited to 10 kWp per house and total upto 500 kWp)</li>
                                            </ul>
                                            Domestic manufactured modules and Solar cells to be used
                                            <i>* CFA shall be on % of benchmark cost of MNRE for the state/ UT or lowest of the costs discovered in the tenders for that state/ UT in that year, whichever is lower</i>
                                            Implementing agency : Power Distributing companies (DISCOMs)
                                            <p><b>Component B: Incentives to DISCOMs – for initial 18 GW Capacity</b></p>
                                            Progressive incentive for Discoms for achievements above baseline (the cumulative RTS capacity installed at the end of previous financial year).
                                            <ul>
                                                <li>No incentives for capacity addition up to 10%</li>
                                                <li>5% incentives for addition beyond 10% and up to 15%</li>
                                                <li>10% incentives for addition beyond 15%</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            As the Scheme is to be implemented through Power Distributing companies (DISCOMs), therefore, the residential consumer who wishes to seek CFA has to approach the DISCOMs operating in his area for installation of rooftop solar plant and get the CFA.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ol>
                                                <li>Power Distributing companies (DISCOMs) operating in his area for installation of rooftop solar plant and get the CFA. One can approach either the portal of the DISCOM, if available, or visit the local office of the DISCOM in his area. List of few DISCOMS are available in website https://solarrooftop.gov.in/Agencies_list.html</li>
                                                <li>Shri Aujender Singh, Deputy Secretary, MNRE (email id: aujender.singh@nic.in)</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/7ccd3b4b3bb94a51af516e2ee4fdede3.pdf" target="_blank">Scheme Guidelines</a></li>
                                                <li><a href="http://10.246.24.71/uploads/c48d969074544005bfff0fcd6b236e9a.pdf" target="_blank">Scheme order</a></li>
                                                <li><a href="http://10.246.24.71/uploads/0342be95cd82433ba30b217ed5b34e2c.pdf" target="_blank">Benchmark cost</a></li>
                                                <li><a href="https://solarrooftop.gov.in/login" target="_blank">SPIN portal</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="accordion" id="accordionExample1">
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Off-grid and Decentralized Solar PV Applications Programme –Phase III
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>Installation of an additional off-grid solar capacity of 118 MWp by 2020 through following application-wise targets:
                                            <ol>
                                                <li>3,00,000 solar street lights</li>
                                                <li>25,00,000 solar study lamps</li>
                                                <li>100 MWp of off-grid solar power plants</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>Till 31.03.2020</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>Installation of 3,00,000 numbers of solar street lights throughout the country, with special emphasis on areas where there is no facility for street lighting systems through grid power, North Eastern States and Left-Wing Extremism (LWE) affected districts.</li>
                                                <li>Installation of solar power plants of individual size up to 25 kWp in areas where grid power has not reached or is not reliable. Such plants are mainly aimed at providing electricity to schools, hostels, panchayats, police stations and other public service institutions.</li>
                                                <li>Providing 25,00,000 numbers of solar study lamps in North Eastern States and LWE affected districts to school going children, up to level of SSC, in backward and remote areas in North Eastern states and LWE affected districts.</li>
                                                <li>Central tender for procurement of solar street lights and solar study lamps being conducted by EESL.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>Central financial assistance (CFA) of 30% of the benchmark cost of the system or the tender cost, whichever is lower for solar street lights and solar power plants in General Category States and CFA of 90% of the benchmark cost or tender cost whichever is lower, in North Eastern States including Sikkim, Jammu & Kashmir, Himachal Pradesh, Uttarakhand, Lakshadweep and A&N Islands.</li>
                                                <li>For Solar Study Lamps CFA of 85% of the lamp cost will be provided and balance 15% of the lamp cost will be borne by beneficiary student.</li>
                                                <li>Programme will be implemented through State Nodal Agencies (SNAs), which will be the designated Implementation Agency under the scheme. Public sector undertakings can be implementation agencies for remote/hilly or border areas for the Solar power plants on the request of State Agencies.</li>
                                                <li>Implementing agencies will submit proposals through online portal to MNRE for approval. Offline proposals will not be accepted, unless MNRE has given a general exemption from the requirement of online submission for any specific period of time.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            Sh. Jeevan Kumar Jethani, Scientist E, Ministry of New and Renewable Energy<br />Email: <a href="mailto: jethani.jk@nic.in">jethani.jk@nic.in</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/7d748f6ca04d4d1e81fd5277e9e46f93.pdf" target="_blank">Administrative approval and guidelines for off-grid and decentralized solar PV Applications Programme: Phase-III</a></li>
                                                <li><a href="http://10.246.24.71/uploads/358fe21cf16e4e42bce7bc536259bc7e.pdf" target="_blank">Format for submission of proposals for SPV Power Plants</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Pradhan Mantri Kisan Urja Suraksha evam Utthaan Mahabhiyaan (PM KUSUM)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>
                                            <ul>
                                                <li>The scheme aims to add solar and other renewable capacity of 25,750 MW by 2022 with total central financial support of Rs. 34,422 Crore including service charges to the implementing agencies.</li>
                                                <li>The Scheme consists of three components:
                                                    <ul>
                                                        <li>Component A: 10,000 MW of Decentralized Ground Mounted Grid Connected Renewable Power Plants of individual plant size up to 2 MW.</li>
                                                        <li>Component B: Installation of 17.50 lakh standalone Solar Powered Agriculture Pumps of individual pump capacity up to 7.5 HP.</li>
                                                        <li>Component C: Solarisation of 10 Lakh Grid-connected Agriculture Pumps of individual pump capacity up to 7.5 HP.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>Till 31.03.2022</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>Components A and C of the Scheme will be implemented in Pilot mode till 31st December 2019.  The Component B, which is an ongoing sub-programme, will be implemented in entirety without going through pilot mode.</li>
                                                <li>The capacities to be implemented under pilot mode for the Components A and C are as follows:
                                                    <ul>
                                                        <li>Component A: Commissioning of 1000 MW capacity of ground/ stilt mounted solar or other renewable energy source based power projects</li>
                                                        <li>Component C: Solarization of 1,00,000 grid connected agriculture pumps</li>
                                                    </ul>
                                                </li>
                                                <li>Component A:
                                                    <ul>
                                                        <li>Renewable power projects of capacity 500 kW to 2 MW will be setup by individual farmers/ group of farmers/ cooperatives/ panchayats/ Farmer Producer Organisations (FPO). In the above specified entities are not able to arrange equity required for setting up the REPP, they can opt for developing the REPP through developer(s) or even through local DISCOM, which will be considered as RPG in this case.</li>
                                                        <li>DISCOMs will notify sub-station wise surplus capacity which can be fed from such RE power plants to the Grid and shall invite applications from interested beneficiaries for setting up the renewable energy plants.</li>
                                                        <li>The renewable power generated will be purchased by DISCOMs at a feed-in-tariff (FiT) determined by respective State Electricity Regulatory Commission (SERC).</li>
                                                        <li>DISCOM would be eligible to get PBI @ Rs. 0.40 per unit purchased or Rs. 6.6 lakh per MW of capacity installed, whichever is less, for a period of five years from the COD.</li>
                                                    </ul>
                                                </li>
                                                <li>Component B:
                                                    <ul>
                                                        <li>Individual farmers will be supported to install standalone solar Agriculture pumps of capacity up to 7.5 HP.</li>
                                                        <li>CFA of 30% of the benchmark cost or the tender cost, whichever is lower, of the stand-alone solar Agriculture pump will be provided. The State Government will give a subsidy of 30%; and the remaining 40% will be provided by the farmer. Bank finance may be made available for farmer's contribution, so that farmer has to initially pay only 10% of the cost and remaining up to 30% of the cost as loan.</li>
                                                        <li>In North Eastern States, Sikkim, Jammu & Kashmir, Himachal Pradesh and Uttarakhand, Lakshadweep and A&N Islands, CFA of 50% of the benchmark cost or the tender cost, whichever is lower, of the stand-alone solar pump will be provided. The State Government will give a subsidy of 30%; and the remaining 20% will be provided by the farmer. Bank finance may be made available for farmer's contribution, so that farmer has to initially pay only 10% of the cost and remaining up to 10% of the cost as loan.</li>
                                                    </ul>
                                                </li>
                                                <li>Component C:
                                                    <ul>
                                                        <li>Individual farmers having grid connected agriculture pump will be supported to solarise pumps. Solar PV capacity up to two times of pump capacity in kW is allowed under the scheme.</li>
                                                        <li>The farmer will be able to use the generated solar power to meet the irrigation needs and the excess solar power will be sold to DISCOMs.</li>
                                                        <li>CFA of 30% of the benchmark cost or the tender cost, whichever is lower, of the solar PV component will be provided. The State Government will give a subsidy of 30%; and the remaining 40% will be provided by the farmer. Bank finance may be made available for farmer's contribution, so that farmer has to initially pay only 10% of the cost and remaining up to 30% of the cost as loan.</li>
                                                        <li>In North Eastern States, Sikkim, Jammu & Kashmir, Himachal Pradesh and Uttarakhand, Lakshadweep and A&N Islands, CFA of 50% of the benchmark cost or the tender cost, whichever is lower, of the solar PV component will be provided. The State Government will give a subsidy of 30%; and the remaining 20% will be provided by the farmer. Bank finance may be made available for farmer's contribution, so that farmer has to initially pay only 10% of the cost and remaining up to 10% of the cost as loan.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>Component A:
                                                    <ul>
                                                        <li>The renewable power generated will be purchased by DISCOMs at a feed-in-tariff (FiT) determined by respective State Electricity Regulatory Commission (SERC).</li>
                                                        <li>In case the farmers/ group of farmers/ cooperatives/ panchayats/ Farmer Producer Organisations (FPO)etc. are not able to arrange equity required for setting up the REPP, they can opt for developing the REPP through developer(s) or even through local DISCOM, which will be considered as RPG in this case. In such a case, the land owner will get lease rent as mutually agreed between the parties.</li>
                                                        <li>DISCOM would be eligible to get PBI @ Rs. 0.40 per unit purchased or Rs. 6.6 lakh per MW of capacity installed, whichever is less, for a period of five years from the COD.</li>
                                                    </ul>
                                                </li>
                                                <li>Component B & C
                                                    <ul>
                                                        <li>State-wise allocation for solar pumps and solarisation of existing grid-connected pumps will be issued by MNRE once in a year, after approval by a Screening Committee under the chairmanship of Secretary, MNRE.</li>
                                                        <li>On acceptance of the allocated quantity by the implementation agencies and submission of detailed proposal as per MNRE format, with in a given time, final sanction will be issued by MNRE.</li>
                                                        <li>Projects for solarisation of pumping systems shall be completed within 12 months from the date of sanction by MNRE. However, for North Eastern States including Sikkim, Jammu & Kashmir, Himachal Pradesh, Uttarakhand, Lakshadweep and A&N Islands this time limit will be 15 months from the date of sanction. Extension in project completion timelines, up to a maximum period of three months, will be considered at the level of Group Head in MNRE and upto 6 months at the level of Secretary in MNRE on submission of valid reasons by the implementing agency.</li>
                                                        <li>Funds up to 25% of the MNRE benchmark cost or cost discovered through tenders, whichever is less, for the sanctioned quantity would be released as advance to the implementing agency only after placement of letter of award(s) to the selected vendors.</li>
                                                        <li>The balance eligible CFA along with applicable service charges would be released on acceptance of the Project Completion Report in the prescribed format, Utilization Certificates as per GFR and other related documents by the Ministry.</li>
                                                        <li>MNRE CFA and State Government’s subsidy will be adjusted in the system cost and beneficiary will have to pay only the remaining balance. </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            <ul>
                                                <li>For Component A, DISCOMs will be implementation agencies.</li>
                                                <li>For Component B, DISCOMs/ Agricultural Department/ Minor Irrigation Department/ any other Department designated by State Government will be the implementing agencies.</li>
                                                <li>For Component C, DISCOMs /GENCO/ any other Department designated by State Government will be the implementing agencies.</li>
                                                <li>Each State will nominate implementation agency in that State for each of the three components.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/bd0e213a2a8b4c96a59623306ac46e77.pdf" target="_blank">Administrative approval for PM KUSUM Scheme</a></li>
                                                <li><a href="http://10.246.24.71/uploads/8065c8f7b9614c5ab2e8a7e30dfc29d5.pdf" target="_blank">Guidelines for PM KUSUM  Scheme</a></li>
                                                <li><a href="http://10.246.24.71/uploads/bbc66101b25544a4b370095c1825b1e3.PDF" target="_blank">Amendment in Guidelines for PM KUSUM Scheme</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Atal Jyoti Yojana (AJAY): Phase-II
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>
                                            <ul>
                                                <li>AJAY: Phase-II will cover installation of 3,04,500 Solar Street Lights (SSLs) in the following states/ regions as per enclosed operational guidelines for implementation of the Scheme:
                                                    <ul>
                                                        <li>States of Uttar Pradesh, Bihar, Jharkhand, Odisha and Assam, which were covered in Phase-I of the Scheme as there is additional demand in these States.</li>
                                                        <li>Hilly States of Jammu & Kashmir, Himachal Pradesh and Uttarakhand.</li>
                                                        <li>North Eastern States including Sikkim.</li>
                                                        <li>Islands of Andaman & Nicobar and Lakshadweep.</li>
                                                        <li>Parliamentary constituencies covering 48 aspirational districts of States other than those covered in (i) to (iv) above.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>Till 17.12.2019</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>Under Phase-II of the Scheme, 2000 numbers of SSLs will be provided in each of the Parliamentary Constituencies of NE States, Hilly States and Islands as mentioned above.</li>
                                                <li>In the five States covered under earlier AJAY scheme (Phase-I), 1000 numbers of SSLs will be provided in each of the Parliamentary Constituencies, which will be irrespective of number of SSLs already installed in Phase-I of AJAY scheme.</li>
                                                <li>Further, out of total 115 aspirational districts, 67 districts are lying in the states mentioned above and hence will get automatically covered. Parliamentary constituencies lying in uncovered balance 48 aspirational districts, will also be provided with up to 2000 numbers of SSLs based on the extent the Parliamentary Constituency lies in the aspirational district.</li>
                                                <li>Additional SSLs up to 1000 numbers, will be provided in Phase II constituencies i.e. constituencies other than those covered in earlier AJAY scheme, where there is additional demand after exhausting the initial allocated quota, provided the expenditure is within the overall budget of the Scheme.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>Under Phase-II of AJAY Scheme, SSLs with LED capacity of 12 W will be provided as per MNRE specification and 75% of the cost of SSL System will be provided through MNRE budget and the remaining 25% to be provided from MPLADS fund.</li>
                                                <li>Energy Efficiency Services limited (EESL) will be the Implementing Agency for the Ph-II of the AJAY scheme.</li>
                                                <li>Hon’ble MPs from Lok Sabha will recommend number of Solar Street Lighting Systems to be installed, villages/areas to be covered and exact location of the Solar Street Lighting Systems. Hon’ble MPs will send the recommendation to the designated officer of EESL. Hon’ble MPs will sanction MPLADS contribution of 25% based on estimated cost of SSLs and the same will be released by the concerned District Authority to EESL in accordance with MPLADs guidelines.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>
                                            Energy Efficiency Services Limited<br />
                                            Shri Saurabh Kumar, MD, EESL at skumar@eesl.co.in or Shri Shashi Kant, DGM, EESL atskant@eesl.co.in 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/2fc19bbae68145de9263069ecc1bc403.pdf" target="_blank">Administrative Approval for Atal Jyoti Yojana (AJAY): Phase-II</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Scheme on “Scale Up of Access to Clean Energy for Rural Productive Uses”
                                </button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>The Scheme aims to enhance the use of reliable and affordable renewable energy for rural productive uses/livelihoods in un-served and under-served areas in 3 states; Assam, Madhya Pradesh and Odisha for strengthening rural livelihoods, improving income generation and reduce use of fossil fuels.</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>June, 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>The project’s focus is on access to clean energy for rural livelihoods.</li>
                                                <li>Special thrust will be given on important rural livelihoods such as poultry, fishery, horticulture, dairy, biomass based local businesses, cottage and other village industries etc. Thrust will also be given on new renewable energy applications like solar dryers, solar cold storage, solar aerators, etc.</li>
                                                <li>Initially, a total of 19 districts have been identified in the 3 target states for implementation of the Scheme covering 1500 beneficiaries. Subsequent to this, the scheme would be applicable to all districts of the 3 target states covering additional 28500 beneficiaries.</li>
                                                <li>Subsidy @30% of the benchmark cost or tender cost, whichever is lower to eligible beneficiaries for the RE technology system. For new, complex and non-commercialized RE technology systems, technical specifications and benchmark costs will be developed separately and an additional financial assistance (over and above the CFA of 30%) will be worked out as per approval from MNRE.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>SNAs identify the renewable energy based livelihood applications and submit proposal for sanction of CFA.</li>
                                                <li>Projects shall be completed in 12 months in General category States and within 15 months in NE States, from the date of sanction. Post this, penalty will be levied. However, maximum time allowed for completion of projects inclusive of penal period is 16 months in General category States and 19 months in Assam.</li>
                                                <li>MNRE may release up to 30% of the CFA as advance to SNA on placement of work order. The balance 70% would be released based on the progress of the project and submission of Utilization Certificate and other related documents.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>Concerned State Nodal Agency (SNA) of MNRE</td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/8ed049937392465389a926eeb81e83dc.pdf" target="_blank">Administrative Approval for Scheme on “Scale Up of Access to Clean Energy for Rural Productive Uses”</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Seven Million Solar Study Lamp Scheme for School Going Children
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>7 million solar study lamps to be distributed in identified block of the states of Assam, Bihar, Jharkhand, Odisha and Uttar Pradesh</td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>30.09.2019</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>Lamps are being provided to student @ Rs. 100/- per lamp and balance cost of lamp through financial support from MNRE.</li>
                                                <li>Scheme is being implemented in 5 states viz., Assam, Bihar, Jharkhand, Odisha and Uttar Pradesh, which have more than 50% un-electrified households, as per census, 2011.</li>
                                                <li>Blocks with more than 50% kerosene dependent households will be covered under the scheme.</li>
                                                <li>Project also includes skill transfer for repair and maintenance of the systems, to the local communities. This will generate employment and ensure better maintenance and upkeep of the lamps.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>Out of the total cost of lamp of about Rs. 450 per lamp, student share will be Rs. 100 only.</li>
                                                <li>Schools in blocks with more than 50% kerosene dependent households in the selected States are covered under the scheme.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/393c56c4cda94aac99adfda139e883cf.pdf" target="_blank">Administrative Approval for Seven Million Solar Study Lamps Scheme for School Going Children</a></li>
                                                <li><a href="http://10.246.24.71/uploads/fdb72bb58ce14ec3b3d456b7aca1792a.pdf" target="_blank">Extension of Scheme dated 10.12.2018</a></li>
                                                <li><a href="http://10.246.24.71/uploads/a54cfa2619b44778a470a9cf92d2a894.pdf" target="_blank">Extension of Scheme dated 18.06.2019</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingeleven">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseElevan" aria-expanded="false" aria-controls="collapseElevan">
                                    Off-Grid and Decentralized Concentrated Solar Thermal (CST) Technologies for Community Cooking, Process Heat and Space Heating & Cooling Applications in Industrial, Institutional and Commercial Establishments
                                </button>
                            </h2>
                        </div>
                        <div id="collapseElevan" class="collapse" aria-labelledby="headingeleven"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>
                                            <ul>
                                                <li>To promote off-grid applications of solar Thermal systems for meeting the targets set in the Jawaharlal Nehru National Solar Mission.</li>
                                                <li>To create awareness and demonstrate effective and innovative use of solar thermal systems for individual/ community/ institutional/ industrial applications.</li>
                                                <li>To encourage innovation in addressing market needs and promoting sustainable business models.</li>
                                                <li>To provide support to channel partners and potential beneficiaries, within the framework of boundary conditions and in a flexible demand driven mode.</li>
                                                <li>To create a paradigm shift needed for commoditization of off-grid decentralized solar thermal applications.</li>
                                                <li>To encourage replacement of kerosene, diesel& wood 'wherever possible.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>2017-18 to 2019-20</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            The programme would be applicable in all parts of India and will,inter-alia, focus on promoting off grid. and decentralized systems including hybrid systems to meet/ supplement heating and cooling energy requirements, generate electricity/power through solar thermal system.  The off grid and decentralized system of any size would be eligible under the scheme. The scheme may be implemented in Urban and Rural Area as well. Scheme document is available in MNRE website.<br /><br />
                                            Target for F.Y. 2019-20 : 40,000 Sq.m. (collector/reflector area)<br />
                                            The benchmark cost and eligible subsidy for various technologies has been fixed as per below:<br />
                                            <table>
                                                <tr>
                                                   <td>Solar Collector Type</td> 
                                                   <td>Benchmark Cost(₹/ Sq. m.)</td>
                                                </tr>
                                                <tr>
                                                    <td>Concentrator with manual tracking (Dish solar cookers)</td>
                                                    <td>7000</td>
                                                </tr>
                                                <tr>
                                                    <td>Solar Collector Systems for Direct Heating & drying  and Non imaging/Compound Parabolic Concentrators (NIC/CPC)</td>
                                                    <td>12000</td>
                                                </tr>
                                                <tr>
                                                    <td>CSTs with single axis tracking  (including Scheffler Dishes)</td>
                                                    <td>15000</td>
                                                </tr>
                                                <tr>
                                                    <td>CSTs with single axis tracking, Solar Grade Mirror Reflector and Evacuated tube collectors</td>
                                                    <td>18000</td>
                                                </tr>
                                                <tr>
                                                    <td>CSTs with double axis tracking</td>
                                                    <td>20000</td>
                                                </tr>
                                            </table>
                                            Subsidy rate:
                                            <ul>
                                                <li>@ 30% of the bench mark cost or actual cost whichever is less to all beneficiaries in all states.</li>
                                                <li>@ 60% of the bench mark cost or actual cost whichever is less to Non-profit making bodies and institutions in special category states, viz., NE states, Sikkim, J&K, Himachal Pradesh, Uttarakhand and islands</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            <ul>
                                                <li>The programme would be implemented through multiple agencies for rapid upscaling in an inclusive mode. These agencies would be State Nodal Agencies/Depts., implementing the renewable energy programmes, Solar Energy Corporation of India, Channel Partners and other Govt. organizations i.e., PSUs/institutions/State Departments/Local Governments/Municipal Corporations/NHB/NABARD/IREDA etc. Project proposal by these agencies in the prescribed format may be submitted to Ministry</li>
                                                <li>Project proposals from manufacturers, suppliers, entrepreneurs, beneficiaries etc. may be submitted through the respective State Nodal Agencies.</li>
                                                <li>The project proposal will be examined by the ministry and sanctions will be issued as per scheme guidelines.</li>
                                                <li>The eligible CFA will be released only on reimbursement basis after the completion of the project and third party inspection by any one of the Regional Test Centres (RTCs) i.e., NISE or Savitribhai Phule Pune University. Formats of the documents to be submitted for the CFA release are available in the MNRE website.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>Channel Partners, Concerned SNAs in states</td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71/uploads/e06e6e26f1f24cc89bb0e52004b5c547.pdf" target="_blank">Scheme Documents: Guidelines Off-grid and Decentralized Solar Thermal Applications</a></li>
                                                <li><a href="http://10.246.24.71/uploads/494074ccb40e49899b7598189807a7ed.pdf" target="_blank">Format for submission of project Proposal: Format for submission of project proposal for installation of Concentrating Solar Thermal (CST) Technology based systems for process heat/ community cooking/ cooling applications</a></li>
                                                <li><a href="http://10.246.24.71/uploads/3cf3a4d0f81c40e48cd62628f599e909.pdf" target="_blank">Format for submission of documents for CFA release: Format for the release of Government subsidy (CFA) by MNRE to a channel partner/ beneficiaries/ RESCO developer for installation of Concentrating Solar Thermal (CST) technology based system generating steam or pressurized hot water/oil</a></li>
                                                <li><a href="http://10.246.24.71/uploads/6658ff6ae38b41759f3438e742f1658e.pdf" target="_blank">List of empaneled Channel Partners, Manufacture/ Supplier and Entrepreneurs : Decisions on empanelment of Channel Partners, Manufacturers/ Suppliers & Entrepreneurs for Concentrating Solar Technologies based systems</a></li>
                                                <li><a href="https://open.unido.org/projects/IN/projects/130149" target="_blank">MNRE UNIDO IREDA SUPPORT : https://open.unido.org/projects/IN/projects/130149</a></li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>