<div class="container-fluid policies waste-bg">
    <h1 class="text-center wdet">Schemes</h1>
</div>

<div class="main gutter mt-5 ml-5 mr-5">
    <!-- Accordion -->
    <div class="_policy_accordion">
        <ul class="nav nav-tabs waste-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="profile" aria-selected="false">Waste To Energy</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Programme on Energy from Urban, Industrial and Agricultural Wastes/ Residues
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Objective</td>
                                        <td>
                                            <ul>
                                                <li>To promote setting up of projects for recovery of energy in the form
                                                    of Biogas / BioCNG/Enriched Biogas/ Power from urban, industrial and
                                                    agricultural wastes; and captive power and thermal use through
                                                    gasification in industries.</li>
                                                <li>To promote Biomass Gasifier based power plants for producing
                                                    electricity to meet the unmet demand of captive power and thermal
                                                    needs of rice mills and other industries and villages for lighting,
                                                    water pumping and micro-enterprises.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Period</td>
                                        <td>2017-18 to 2019-20</td>
                                    </tr>
                                    <tr>
                                        <td>Salient Features</td>
                                        <td>
                                            <ul>
                                                <li>Recovery of energy in the form of Biogas or BioCNG or Power from
                                                    Urban, Industrial and Agricultural Waste / Residues such as
                                                    municipal solid wastes, vegetable and other market wastes,
                                                    slaughterhouse waste, agricultural residues and industrial wastes &
                                                    effluents for meeting certain niche energy demands of urban,
                                                    industrial and commercial sectors in the country.</li>
                                                <li>Such projects are being set up in a number of industry sectors
                                                    namely distillery, paper and pulp, solvent extraction, rice mills,
                                                    textiles, pharmaceutical industries, etc.</li>
                                                <li>There exists tremendous scope for generating bio-CNG / Biogas in
                                                    these sectors in all states for meeting various applications such as
                                                    vehicles, industries for captive energy needs, cooking etc besides
                                                    generating bio-fertilizers.</li>
                                                <li>Financial assistance available under the Programme on Energy for
                                                    setting up Waste to Energy plant is as follows:
                                                    <ul>
                                                        <li>Biogas generation : Rs 1.0 crore per 12000cum/day ;</li>
                                                        <li>BioCNG generation (including setting of Biogas plant) : Rs
                                                            4.0 Crore per 4800Kg/day;</li>
                                                        <li>Power generation based on Biogas (including setting of
                                                            Biogas plant): Rs 3.0 Crore per MW.</li>
                                                    </ul>
                                                </li>
                                                <li>Biomass Gasifier
                                                    <ul>
                                                        <li>Rs. 2,500 per kWe with duel fuel engines for electrical
                                                            application</li>
                                                        <li>Rs. 15,000 per kWe with 100% gas engines for electrical
                                                            application</li>
                                                        <li>Rs. 2 lakh per 300 kWth for thermal applications.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>How to avail the financial assistance</td>
                                        <td>
                                            The developers seeking Government support for their projects will submit
                                            proposals to Ministry through Financial Institutions. A Project Advisory
                                            Committee (PAC) for Waste to Energy projects would be constituted with the
                                            approval of Secretary, MNRE under the Chairmanship of Joint Secretary
                                            (In-charge), MNRE. PAC will evaluate and recommend the project proposals for
                                            financial support. The Ministry would issue sanction with the concurrence of
                                            IFD and approval of Secretary, MNRE. Based on this sanction/approval the
                                            developer can complete their projects as per guidelines of the scheme. The
                                            time period for completion of the project is 24 months.<br /><br />
                                            The entire CFA will be released to the developer’s loan account in the
                                            lending financial institution/banks for the purpose of offsetting the loan
                                            amount only after successful commissioning of the project. Waste to Energy
                                            Projects without loan will not be supported. The condition of successful
                                            commissioning of the Waste to Energy project would, inter-alia, imply
                                            operation of the project for three months, including continuous operation
                                            for at least 72 hours at minimum of 80% of rated capacity. No advance CFA
                                            will be released to any projects.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Whom to contact</td>
                                        <td>Director, Waste to Energy</td>
                                    </tr>
                                    <tr>
                                        <td>Relevant Document</td>
                                        <td>
                                            <ol>
                                                <li><a href="http://10.246.24.71//uploads/68e223e9afdb4c5281413de6dc2174d4.pdf"
                                                        target="_blank">Programme on energy from urban industrial and
                                                        agricultural waste / residues for 2017-18, 2018-19 & 2019-20</a>
                                                </li>
                                            </ol>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>