<div class="container-fluid wde">
    <h1 class="text-center wdet">Wind Energy</h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3" style="margin:0 auto;">
            <h2 class="energtext text-center">Policies</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="img/offshore-wind.png" width="90%">
        </div>
        <div class="col-sm-12">
            <p class="ml-5 mr-5 pt-5">In October 2015, National Wind Energy Policy was notified to realize offshore wind power potential in the country. Initial studies indicate good potential in the southern tip of Indian peninsula and west coast. The National Institute of Wind Energy is carrying out wind resource assessment using  Light detection and ranging (LiDAR) a remote sensing-based wind measurement devise. Installation & commissioning of LiDAR off the coast of Gujarat has been completed in October 2017 and collection of data is under progress. The draft guideline for Offshore Wind Power Assessment Studies and Surveys by Private Players is in an advanced stage for finalization. Two committees have been formulated for assessment of grid infrastructure required for offshore wind projects and techno-commercial feasibility of offshore projects in India. 
</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5" style="margin:0 auto;">
            <h2 class="guidelines mr-5 ml-5">Guidelines and other documents</h2>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row pdf ml-5 mr-5 mt-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/view-pdf.png" width="20%" style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
        </div>
        <div class="col-sm-10">
            <span class="date">08.08.2018</span>
            <h4 class="guideh">Development of India’s First 1.0 GW Offshore wind project off the coast of Gujarat.</h4>
            <p>
                Feedback sought from wind power firms in designing the tender document for India’s first 1.0 GW Offshore wind project off the Gujarat coast. 
            </p>
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/view-pdf.png" width="20%" style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
        </div>
        <div class="col-sm-10">
            <span class="date">28.06.2018</span>
            <h4 class="guideh">Office Memorandum - Targets of Off-Shore Wind Power Installation Capacity </h4>
            <p>
               The targets of offshore wind power installation capacity fixed as 5GW by 2022 and 30 GW by 2030 considering good wind potential for offshore wind in the southern tip of the Indian peninsula and west coast. 
            </p>
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/view-pdf.png" width="20%" style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
        </div>
        <div class="col-sm-10">
            <span class="date">24.05.2018</span>
            <h4 class="guideh">Expression of Interest (EoI) for first offshore wind energy project of 1000 MW off the coast of Gujarat.</h4>
            <p>
               After the notification of National Offshore Wind Energy Policy in 2015, the National Institute of Wind Energy invites 
Expression of Interest (EOI) from suitable and experienced bidders for the development of India’s first 1000 MW 
commercial offshore wind farms off the Gujarat coast. 

            </p>
        </div>
    </div>
</div>