<div class="container-fluid policies wind-bg">
    <h1 class="text-center wdet">Schemes</h1>
</div>

<div class="main gutter mt-5 ml-5 mr-5">
    <!-- Accordion -->
    <div class="_policy_accordion">
        <ul class="nav nav-tabs wind-tabs" id="myTab" role="tablist">
            {{!-- <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="profile" aria-selected="false">Schemes</a>
            </li> --}}
            <li class="nav-item" style="width: 100%;">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home"
                    aria-selected="true">Guidelines</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {{!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div> --}}
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="accordion" id="accordionExample1">
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Guidelines for Tariff Based Competitive Bidding Process for Procurement of Power
                                    from Grid Connected Wind Power Projects (Dated 8th Decemeber, 2017)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>The objective of these Guidelines is to provide a framework for procurement of wind
                                    power through a transparent process of bidding including standardisation of the
                                    process and defining of roles and responsibilities of various stakeholders. These
                                    Guidelines aim to enable the Distribution Licensees to procure wind power at
                                    competitive rates in a cost effective manner.</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/a3ebdeec0b6846b281db0708b746a7ef.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/a3ebdeec0b6846b281db0708b746a7ef.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Amendments to the Guidelines for Tariff Based Competitive Bidding Process for
                                    Procurement of Power from Grid Connected Wind Power Projects (Dated 16th July, 2019)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>The Guidelines for Tariff Based Competitive Bidding Process for Procurement of Power
                                    from Grid Connected Wind Power Projects have been notified vide resolution No.
                                    23/54/2017-R&R published in the Gazette of India (Extraordinary) (Part I-Sec. 1) on
                                    8th December, 2017.</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/243c92c79b9d4199b6b44231e68179ec.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/243c92c79b9d4199b6b44231e68179ec.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Adherence to terms and conditions of NOC by WTG Operators - regarding (Dated
                                    02.01.2019)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>The undersigned is directed to refer to this Ministry's circular of even number dated
                                    18.10.2018 and Ministry of Defence's OM No 2(12)/2018/D(Air-ll) dated 4th December,
                                    2018 on subject mentioned</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/c79a43f05092419c9ba8479ff23ebce9.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/c79a43f05092419c9ba8479ff23ebce9.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Adherence to terms and conditions of NOC issued by Ministry of Defence to WTG
                                    Operators - Reg. (Dated 18.10.2018)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>The undersigned is directed to refer to Ministry of Defence (MoD) OM No.
                                    2(12)/2018/D(Air-ll) dated 151 August, 2018 (enclosed) and to convey that MoD has
                                    observed that Wind Turbine Generator (WTG) operators/ developers are not providing
                                    SCADA based remote control system for 'switching off of WTGs at nearest Air Force
                                    Station as specified in the NOC issued by Ministry of Defence for installation of
                                    WTGs around IAF aerodromes.</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/6829fe9d56d04ce6a1b6b25dbe0f7c88.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/6829fe9d56d04ce6a1b6b25dbe0f7c88.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Retrofitting of transmission lines and wind turbines to avoid bird collission in
                                    Great Indian Bustard (GIB) habitats of Rajasthan & Gujarat
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>The undersigned is directed to refer to Secretary, Ministry of Environment, Forest
                                    and Climate Changes D.O. No. 15-7/2-15-WL (PT.1) GIB dated January, 2019 on the
                                    subject mentioned above wherein it is reported that electrocution with the
                                    transmission lines and collision with wind turbines of Wind Energy Farms are major
                                    causes of death of the Great Indian Bustard (GIB) birds in Rajasthan and Gujarat.
                                </p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/9de3fd4fffdd4cf3b600c0dcadf67d00.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/9de3fd4fffdd4cf3b600c0dcadf67d00.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingElevan">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseElevan" aria-expanded="false" aria-controls="collapseElevan">
                                    Guidelines for Development of Onshore Wind Power Projects.
                                </button>
                            </h2>
                        </div>
                        <div id="collapseElevan" class="collapse" aria-labelledby="headingElevan"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>To ensure healthy and orderly growth of wind power sector in the country, Ministry
                                    issued Guidelines for wind power projects in July 1995, which were revised in June
                                    1996</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/19a0b0b1068f4dea86db70282d4bc997.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/19a0b0b1068f4dea86db70282d4bc997.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwelve">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    Amended Guidelines for installation of prototype wind turbine models.
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>The manufacturer(s) of the wind turbine whose prototype is to be installed, shall
                                    submit requisite information and documentation as per the prescribed format (to be
                                    provided by NIWE) to NIWE, Chennai for obtaining recommendation to permit
                                    installation of wind turbine prototype model for testing and grid synchronization /
                                    commissioning.</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/3841cee9455d4e9c9176b7cf6d47806d.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/3841cee9455d4e9c9176b7cf6d47806d.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThirteen">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThirteen" aria-expanded="false"
                                    aria-controls="collapseThirteen">
                                    Guidelines for forwarding of applications to Ministry of Defence for grant
                                    ofclearance for construction of wind power projects
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                            data-parent="#accordionExample1">
                            <div class="card-body">
                                <p>In pursuance of the OM No. 8(12)/2012/D(Coord) dated 15.10.2013 of the Ministry of
                                    Defence conveying the decision that the applications for grant/renewal of defence
                                    clearance for construction of power projects will be accepted through nodal
                                    Ministries (MNRE for renewable power projects), Guidelines are hereby issued for
                                    processing of applications in this Ministry for grant of clearance by the Ministry
                                    of Defence to wind power projects</p>
                                <div class="_pdf_links">
                                    <a target="_blank"
                                        href="http://10.246.24.71/uploads/a00aa3927c2a473db6d448007588f42f.pdf"
                                        class="ml-1">
                                        <img class="pdf" src="/img/view-pdf.png" alt="view">
                                    </a>
                                    <a data-href="http://10.246.24.71/uploads/a00aa3927c2a473db6d448007588f42f.pdf"
                                        class="ml-1 download_file">
                                        <img class="pdf" src="/img/download-pdf.png" alt="view">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>