<div class="_page_head _autonomous_institue">
  <p class="_heading">Autonomous Institutes</p>
</div>

<div class="_page_wrapper">
  <div class="_overview_content">
    <p>
      To support this Ministry, there are  three autonomous bodies-  
    </p>
  </div>

  <div class="_new_tech_tabs _autonomous_institue_tab">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#pag1" role="tab" aria-controls="home">National Institue of Solar Energy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pag2" role="tab" aria-controls="profile">National Institute of Wind Energy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pag4" role="tab" aria-controls="settings">National Institute of Bio Energy</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="pag1" role="tabpanel">
        <div class="sv-tab-panel">
          <h3>National Institue of Solar Energy</h3>
          <p>NISE is located at Gwal Pahari in district Gurugram, Haryana and act as an apex national institute in solar energy and co-ordinates research & development and undertakes frontier areas of research. NISE supports the Ministry of New and Renewable Energy (MNRE) in implementing the National Solar Mission (NSM), R&D activities in Solar Energy and various Skill Development Programmes.  NISE has established itself as a leading Institute in the field of Solar Energy through Resource Assessment, Research, Design, Development and Demonstration of Solar Energy Technologies for various applications such as Testing, Certification and Standardization, Monitoring and Evaluation, Economic and Policy Planning, Human Resource Development and Active collaborations with prominent National & International organisations, etc. NISE is maintaining an NABL accredited Solar Photovoltaic module testing laboratory, lighting system test laboratory, battery testing facility and solar water pumping system test rig and outdoor test facilities. The Institute has fully developed testing facility for small and large size Solar Thermal Systems and Solar Resource Assessment.</p>
          <a href="https://nise.res.in/" target="_blank" class="_know_btn external_link">Know More</a>
        </div>
      </div>
      <div class="tab-pane" id="pag2" role="tabpanel">
        <div class="sv-tab-panel">
          <h3>National Institute of Wind Energy</h3>
          <p>NIWE has been established in Chennai, Tamil Nadu and serve as the technical focal point for wind power research & development. The main activities of National Institute of Wind Energy (NIWE) include research and development; Wind and Solar Radiation Resource Assessment; preparation of Indian Standards for wind generation technology; wind turbine testing and certification; information dissemination; human resource development; offer various consultancy services to customers; and to serve as a technical focal point for wind power development in India and support the growing wind power sector in the country.</p>
          <a href="https://niwe.res.in/" target="_blank" class="_know_btn external_link">Know More</a>
        </div>
      </div>
      <div class="tab-pane" id="pag4" role="tabpanel">
        <div class="sv-tab-panel">
          <h3>National Institute of Bio Energy</h3>
          <p>Sardar Swaran Singh National Institute of Bio-Energy (SSS-NIBE) earlier known as SSS-NIRE,  is located in district Kapurthala, Punjab and is focusing on research & development in Bio energy.  The objectives of the Institute is to carry out and facilitate research, design, development, testing, standardization & technology demonstration eventually leading to commercialization of RD&D output with a focus on bioenergy, biofuels & synthetic fuels in solid, liquid and gaseous forms for transportation, portable & stationary applications, development of hybrid/integrated energy systems, to undertake & facilitate human resource development and training in the area of bioenergy. The Institute has drafted a vision plan for next 10-years and submitted a comprehensive project proposal ‘Establishing pilot scale testing facility in the broad spectrum of bioenergy’ to emerge as Global Centre of Excellence in Bioenergy.</p>
          <a href="http://www.nibe.res.in/" target="_blank" class="_know_btn external_link">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>