<link rel="stylesheet" href="/stylesheets/cdmworkshop.css">
<div class="container-fluid policies mb-5">
    <h1 class="text-center wdet">Initiatives & Achievements</h1>
</div>
<div class="filter mt-5 mb-5">
    <div class="row filter-bc">
        <div class="col">
            <div class="search-option">
                <label for="f184318d184322" class="sr-only">Format</label>
                <select title="Format" id="f184318d184322" name="documentType_" class="form-control"
                    onChange="window.location.href=this.value">
                    <option title="solar" value="/media-center/news">Recent News</option>
                    <option title="solar" value="/media-center/speeches-and-visits">Speeches & Visits</option>
                </select>
            </div>

        </div>
        {{!-- <div class="col">
            <div class="search-option">

                <label for="f184318d184322" class="sr-only">Format</label>
                <select title="Format" id="f184318d184322" name="documentType_" class="form-control"
                    onchange="this.form.submit()">
                    <option title="recency" value="recency">Recency</option>
                    <option title="relevance" value="relevance">Relevance</option>
                    <option title="popularity" value="popularity">Popularity</option>
                </select>
            </div>

        </div> --}}

    </div>
</div>

<main class="ml-5 mr-5 mb-5">
    <h2>
        Programmatic Clean Development Mechanism (CDM) projects in Renewable Energy Area
    </h2>
    <p class="cdm__content">
        The Clean Development Mechanism (CDM) Executive Board under the United Nations Framework Convention on Climate
        Change (UNFCCC) in its 32nd meeting in July 2007 had decided inter-alia that the project activity under a
        Programme of Activities (POA) can be registered as a single CDM project activity, provided approved baseline and
        monitoring methodologies are used. It was realized that this new window could offer larger CDM portfolio for
        de-centralized renewable energy systems.
    </p>
    <p class="cdm__content">
        Accordingly, the Ministry of New & Renewable Energy commissioned a study to understand and develop a
        framework for programmatic CDM projects in renewables. The study objective was to understand scope for CDM
        programmatic activities in the areas of solar water heating, solar cooking, family type biogas plants, medium &
        large size biogas plants, cookstove, biomass applications in industry and village electrification. In addition,
        it looked for better understanding of the additionality issues, sector-specific baselines and validation &
        monitoring methodologies.
    </p>
    <p class="cdm__content">
        This report ‘Framework for Programmatic CDM Projects in Renewable Energy’ is expected to serve as a base
        document to understand the PoA mechanism and suggest way ahead for undertaking renewables under PoA framework by
        prospective project proponents.
    </p>
    <p class="cdm__content">
        The report may be downloaded here
        <br> 
        <a class="cdm_file_link download_file" data-href="http://10.246.24.71/uploads/510f6f5e86bf4d86978e81cc9c65b792.pdf">‘Framework for Programmatic CDM Projects in Renewable Energy’</a>. 
    </p>
</main>