<div class="container-fluid policies mb-5">
    <h1 class="text-center wdet">Gasification of Bamboo and its waste</h1>

</div>
<main class="ml-5 mr-5 mb-5">
<div class="content-text">
    <p>In this success story, H C Chakrabarti discusses a successful venture of GP Green Systems Pvt. Ltd, Kolkata that had set up three gasifiers at Mangaldoi, Assam, to produce gas having calorific value 1,250–1,350 kcal/Nm3 (or 5.25 MJ–5.65 MJ/Nm3 ). This gas was meant to replace high speed diesel (HSD) used as a fuel in the biscuit plant of ITC. The venture proved to be a great success to the satisfaction of the customer.
</p>
<p>
    Bamboo and its derivatives fall within the category of biomass, a biodegradable substance, essentially a product of photosynthesis and a natural solar cell storing in some form or other, solar energy, and this energy can be meaningfully extracted through application of appropriate technology. The energy stored in biomass is measured by its heating value. The work so far carried out on biomass has established the fact that on dry mineral matter all types of biomass whether wood, rice husk, biodegradable substances, etc., have the same properties in respect of proximate and ultimate analysis, calorific value, etc. A mere study of such parameters can identify and differentiate biomass from other types of fuels—whether solid or liquid. During World War II, charcoal (de-volatilized wood) was being widely used to produce gas for energy generation and also for driving of vehicles. Though the mechanism was not very successful, it gave a big clue to develop the process of gas production using air in biomass gasification. As it stands today, biomass gasification has proved its success but there is no universal gasifier which can gasify all types of biomass. Certain types of biomass though highly combustible, were not found suitable for gasification and one such material was bamboo and bamboo waste which are abundantly grown in many parts of India, particularly the eastern region. The State Government has been advocating use of bamboo and bamboo derivatives to generate gas to replace costly petro-based fuels, such as LPG, HDO/FO. Keeping in view the patronage of the local government, GP Green Systems Pvt. Ltd, Kolkata, having long experience in biomass gasification took the challenge and set up three of gasifiers (nominal capacity 600 kg/ hr biomass) at Mangaldoi, Assam, to produce gas having calorific value 1,250– 1,350 kcal/Nm3 (or 5.25 MJ–5.65 MJ/ Nm3 ). This gas was meant to replace high speed diesel (HSD) used as a fuel in the biscuit plant of ITC. The venture proved to be a great success to the satisfaction of the customer. 
</p>
<p><b>RAW MATERIAL CRITERIA</b></p>
<li>The important quality parameters of any biomass should include the following: </li>
<li>Moisture of the biomass as charged in the gasifier which is much higher than that determined by proximate analysis. </li>
<li>Proximate analysis, that is, determination of moisture, ash, volatile matter, and fixed carbon.  Determination of bulk density of biomass to be used in gasification process. </li>
<li>Flow characteristic of the biomass and the physical behaviour of the same. </li>
<li>Size analysis which will depend on the type of biomass and the size of the gasifier. </li>
<li>Ash fusion point both initial deformation and hemispherical. </li>
<li>Reactivity of the material. Stability of the material in water and also under heat. </li>
<li>Physical shape of the biomass.</li>
<br>
<p>Briquettes and pellets made from biomass trash and bush often look good and fit for gasification. In reality, it may not be so because briquettes/pellets crumble in powdery form inside the gasifier thereby blocking air and gas passage. However, these materials can be used in small proportion after mixing with the main charge. The other very important aspect is that the ash fusion point of any biomass should preferably be higher than 1,200 o C. If ash fusion point is low it becomes very difficult or even impossible to gasify a biomass because of slagging effect of the ash blocking air and gas passage inside the biomass. Generally, plants growing near seaside contain high alkali. Even otherwise, the shell of the fruits may contain high alkali causing lower ash fusion point. The other constraints faced during gasification of different materials are the varying moisture content of the biomass which depends on atmospheric equilibrium moisture content. A freshly cut wood contains 50%–55% moisture which evaporates during storage and the final moisture contents after long storage may not fall below 30% at 60% RH. Similarly, freshly cut bamboo contains about 40% moisture and after storage it quickly falls to around 30%. Evaporation of moisture from bamboo has been found to be much quicker than that in wood. Therefore, the results of gasification, particularly gas generation, varies from day to day, depending on the weather and atmospheric conditions. In this respect, rice husk shows less variation for which moisture content rarely exceeds 15% and in summer it may fall as low as 8%–9%. In this context, it is worth mentioning that rice husk is a biomass with ash content as high as 20%. It is the skin of the paddy and this ash has 88%–90% silica. 
Rice husk has low reactivity having low efficiency of gasification. For convenience, gross calorific value of bamboo at 4% ash is computed in Table 1. Table 1: Gross calorific value of bamboo at 4% ash
</p>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      
      <th scope="col">Moisture Content (%)</th>
      <th scope="col">Calorific Value (kcal/kg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>0</td>
      <td>4275</td>
      
    </tr>
    <tr>
      
      <td>10</td>
      <td>3850</td>
      
    </tr>
    <tr>
      
      <td>20</td>
      <td>3420</td>
    </tr>
    <tr>
      <td>25</td>
      <td>3210</td>
    </tr>
    <tr>
      <td>30</td>
      <td>2990</td>
    </tr>
    <tr>
      <td>35</td>
      <td>2780</td>
    </tr>
     <tr>
      <td>40</td>
      <td>2565</td>
    </tr>
  </tbody>
</table>
<p>The above figures are approximate and may vary by 1%–1.5% because at different moisture content in biomass, the ash will also change. On dry mineral matter free basis (mineral matter ash% x 1.1) the calorific value of all biomasses is 4,470– 4,480. In biomass or even in coal ash does not remain as such. It remains as mineral matter which on combustion produces ash. </p>
<p><b>OPERATIONAL ASPECT OF BAMBOO GASIFICATION IN THE ITC PLANT, MANGALDOI </b></p>
<p>The updraft biomass gasification plant at Mangaldoi was designed for rice husk gasification initially. The concept of using bamboo for gasification was proposed by ITC amidst reservations regarding usage of bamboo as feedstock that has low ash fusion point. GP Energy had considered this proposal as a challenge to try bamboo gasification after studying different pros and cons for which the design of the plant and its modus operandi was planned and incorporated accordingly. This called for detailed analysis of the bamboo to be made available for gasification purpose. General analysis of bamboo as used in the NENPL – ITC Mangaldoi plant is furnished in Table 2. It was observed that the bamboo as freshly cut contains more than 45% moisture and after sizing the same to the required size of 40 mm–80 mm the moisture content came down to around 35%. The average moisture in the bamboo chips used in the gasifier would rarely go below 30% which would mean that the heat content in the bamboo would be only in the range of 3,000–3,100 kcal/kg. At times during sunny weather the average moisture content ranged from 20%–25%.The gas from such a feedstock at 40% BST in the blown air (used for gasification) would be around 2 Nm3 / kg of bamboo at 30% moisture content in the feedstock which was considered acceptable. Broad analysis of bamboo as used in ITC Mangaldoi plant is furnished in Table 2. Proximate analysis and heating value of different parts of bamboo top, middle, and bottom did not show much difference. </p>
<p><b>SALIENT FEATURES OF THE GP GASIFICATION PLANT</b></p>
<br>
<li>GP gasifier is based on fixed bed updraft technology capable of gasifying different types of biomass, such as rice husk, wood and woody materials, agro-waste, such as bagasse, corn cob, stalk of wheat and corn, bamboo and bamboo wastes, etc. Thus, it is a multi-fuel system designed to handle even lower ash fusion point biomass in specific cases, like bamboo. The moisture content in biomass may be as high as 40%–45% but generally below 35%. </li>
<li>It is a continuous operating system which can run on 24×7 basis.</li>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Proximate and CV (on dry basis) Moisture % Ash % Volatile Matter % Fixed Carbon % Calorific value kcal/ kg</th>
      <th scope="col">Nil 2.50–4.0 77.0–78.0 19.0–21.0 4,100–4,200 (17.10–17.60 MJ/kg)</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sulphur and Phosphorus</td>
      <td>Trace</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bulk density (30% moisture)</td>
      <td>280–300 kg/m3</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ash fusion point in °C</td>
      <td>1,050–1,100</td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Size of bamboo used</td>
      <td>Generally 40–80 mm</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Average moisture content in sized bamboo</td>
      <td>Around 30%</td>
    </tr>


  </tbody>
</table>
<br>
<li>The gas cleaning system attached to it is unique in type with several stages of cleaning by which particulate matter and tar content in gas can be reduced to less than 10 mg/ Nm3.</li> 
<li>The heating value of gas can be consistently maintained at 1,250– 1,350 kcal/Nm3. </li>
<li>The GP gasification system is served with full automation thereby ensuring high efficiency operation with low manpower requirement. </li>
<li>GP gasifiers can be set up as decentralized standalone systems. </li>
<li>GP Energy undertakes the responsibility to operate the plant to the satisfaction of the customers by rendering maintenance service</li>
<br>
<p><b>OPERATIONAL SPECIALITY OF THE NENPL ITC MAN UPDRAFT GASIFICATION PLANT</b></p>
<p>The plant at Mangaldoi was commissioned in June 2016 and since then it has been in continuous operation. The experience gathered during the 10 months of continuous operation was highly encouraging because a raw material, that is, bamboo over which there had been enormous reservation in respect of its successful gasification was proved to be a mere apprehension in the updraft gasification technique of GP Energy. BST at the level of 60 o C–65 o C in the air introduced from the bottom and also uniformity in the pressure control throughout the system was maintained. At times, the bamboo contained even 40% moisture but this high moisture content did not disturb the operation of the gasifier except increasing the liquor formation. The efficiency of gasification rate was much better than that using wood. Charcoal production in bamboo gasification was much lower (less than 1%) compared to wood gasification where charcoal production was as high as 5%. The plant could be kept neat and clean. The quantity of liquor generated was around 25%–35% of bamboo depending on its moisture content. This liquor was of pyroligneous type having high biochemical oxygen demand (BOD)and chemical oxygen demand (COD) contents. It was also contaminated with light tar. The tar produced also contains 20%–25% moisture (specific gravity: 1.01 to 1.015) and the yield was around 2%–3%. The calorific value of the tar as computed was about 7,000 kcal/kg at 20% moisture. The gas produced (% V/V) contained: CO2 : 8–11%; CnHm: 0.4–0.6%; O2 : less than 2% (usually 1%); CO: 23–26%; H2 : 9–12%, CH4 : 2.00–2.50%; N2 : 50–54%; CV (gross): 1,250–1,350 kcal/Nm3 or 5.25–5.65 MJ/Nm3 . Tar and particulate matter was 10–20 mg/Nm3 . Moisture content in gas was 2%–3% (depending on temperature of gas and ambient temperature). </p>
<p><b>CONCLUSION</b></p>
<p>Gasification of bamboo which was once considered problematic due to low ash fusion point was made viable in the GPE updraft gasifier. The actual bamboo consumption at 30% moisture content was achieved at about 4.50 kg/L of diesel oil, but for the purpose of design one should consider about 5.00 kg/L because of many impediments particularly variation in moisture content in bamboo which at times may be as high as 40%, particularly during rainy seasons. Freshly cut green bamboo will also contain more than 40% moisture. The size and shape of the bamboo contributes towards good operation and higher efficiency of gasification. Introduction of steam in maintaining appropriate BST in the gasifier is a contributing factor towards attainment of gas in quality and quantity. Steam also stabilizes the gas flame in the burner. The liquor generated will range from 30%–35% of the bamboo fed depending on the moisture of the bamboo. This liquor has all the characteristics of any other liquor produced by the gasification of different biomasses. The liquor is of pyroligneous type and may have to be treated before discharge to satisfy the PCB norms. 
</p>

</div>



</main>    