<div class="_page_head international_relations_bg">
    <p class="_heading">{{page_title}}</p>
</div>
<main class="_page_wrapper">
    <div class="margin_boo">
        {{{overview}}}
    </div>
</main>