<div class="container-fluid wde">
    <h1 class="text-center wdet">Knowledge Center</h1>

</div>
<div class="filter mt-5 mb-5">
    <div class="row filter-bc">
        <div class="col">
            <div class="search-option">

                <label for="f184318d184322" class="sr-only">Format</label>
                <select title="Format" id="f184318d184322" name="documentType_" class="form-control"
                    onChange="window.location.href=this.value">
                    <option title="solar" value="/public-information/result-framework-document">Training Module</option>
                    <option title="solar" value="/public-information/policies-and-guidelines">Infographics</option>
                    <option title="solar" value="/public-information/presentations">Videos</option>
                    <option title="solar" value="/public-information/events">Case Studies</option>
                    <option title="solar" value="/public-information/reports">Reports</option>
                </select>
            </div>

        </div>
        <div class="col">
            <div class="search-option">

                <label for="f184318d184322" class="sr-only">Format</label>
                <select title="Format" id="f184318d184322" name="documentType_" class="form-control"
                    onchange="this.form.submit()">
                    <option title="recency" value="recency">Recency</option>
                    <option title="relevance" value="relevance">Relevance</option>
                    <option title="popularity" value="popularity">Popularity</option>
                </select>
            </div>

        </div>
    </div>
</div>