<div class="_page_head newthd">
  <p class="_heading">New Technologies</p>
</div>

<div class="_page_wrapper">
  <div class="_overview_content">
    <p class="english_data">
      The Ministry of New and Renewable Energy (MNRE) has taken up the following programs on various New
      Technologies, As part of these programs, research, development and demonstration projects have been
      initiated at various research, scientific and educational institutes, universities, national laboratories,
      industry, etc. These projects are helping in the development of indigenous research and industrial base,
      expertise, trained manpower and prototypes/devices/systems in the country  
    </p>
    <p class="hindi_data">नवीन और नवीकरणीय ऊर्जा मंत्रालय (एमएनआरई) ने विभिन्न नवीन तकनीकों पर आधारित निम्न कार्यक्रम शुरू किए हैं, इन कार्यक्रमों के अंतर्गत विभिन्न अनुसंधान, वैज्ञानिक और शैक्षणिक संस्थानों, विश्वविद्यालयों, राष्ट्रीय प्रयोगशालाओं, उद्योग आदि में अनुसंधान, विकास और प्रदर्शन परियोजनाएं शुरू की गई हैं। ये परियोजनाएं स्वदेशी अनुसंधान, और देश में औद्योगिक आधार, विशेषज्ञता, प्रशिक्षित मानवशक्ति और प्रोटोटाइप/उपकरणों/प्रणालियों के विकास में मदद कर 
रही हैं।</p>
  </div>

  <div class="_new_tech_tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#pag1" role="tab" aria-controls="home">
          <span class="english_data">Ocean Energy</span>
          <span class="hindi_data">महासागरीय ऊर्जा</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pag2" role="tab" aria-controls="profile">
          <span class="english_data">Hydrogen Energy</span>
          <span class="hindi_data">हाइड्रोजन ऊर्जा</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pag4" role="tab" aria-controls="settings">
          <span class="english_data">Geo Thermal Energy</span>
          <span class="hindi_data">भूतापीय ऊर्जा</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pag5" role="tab" aria-controls="settings">
          <span class="english_data">Energy Storage</span>
          <span class="hindi_data">ऊर्जा भंडारण</span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="pag1" role="tabpanel">
        <div class="sv-tab-panel">
          <h3 class="english_data">Ocean Energy</h3>
          <p class="english_data">As per a study conducted by the Indian Institute of Technology, Chennai in association with CRISIL Risk
            and Infrastructure Solutions Limited in December 2014, the tidal power potential is estimated at around
            12,455 MW. The potential areas with low/medium tidal wave strength are in the Gulf of Khambat, Gulf of
            Kutch & southern regions in Gujarat, Palk Bay- Mannar Channel in Tamil Nadu, and Hoogly river, South
            Haldia & Sunderbans in West Bengal. Tidal energy is still in Research & Development (R&D) phase and has
            not been implemented on a commercial scale in India. The earlier efforts for harnessing tidal power were
            not successful due to high capital cost ranging from Rs. 30 crore to Rs. 60 crore per MW.</p>

            <h3 class="hindi_data">महासागरीय ऊर्जा</h3>
            <p class="hindi_data">क्रिसिल रिस्क एंड इंफ्रास्ट्रक्चर सॉल्यूशंस लिमिटेड के सहयोग से भारतीय प्रौद्योगिकी संस्थान, चेन्नई द्वारा दिसंबर 2014 में आयोजित किए गए एक अध्ययन के अनुसार, ज्वारीय शक्ति की संभावित क्षमता 12,455 एमडब्ल्यू है। गुजरात में खंबात की खाड़ी, कच्छ की खाड़ी और दक्षिणी क्षेत्र, तमिलनाडु में पलक खाड़ी- मन्नार चैनल और पश्चिम बंगाल में हुगली नदी, दक्षिण हल्दिया और सुंदरबन, ये निम्न/मध्यम ज्वारीय तरंग शक्ति वाले संभावित क्षेत्र में हैं। ज्वारीय ऊर्जा अभी अनुसंधान और विकास (आर एंड डी) चरण में है और इसे भारत में व्यावसायिक पैमाने पर क्रियान्वित नहीं किया गया है। 30 करोड़ रुपये से लेकर 60 करोड़ रुपये प्रति एमडब्ल्यू की उच्च पूंजी लागत के कारण ज्वारीय शक्ति के दोहन के पूर्ववर्ती प्रयास सफल नहीं रहे।</p>
          <a href="/new-technologies/ocean-energy" class="_know_btn">Know More</a>
        </div>
      </div>
      <div class="tab-pane" id="pag2" role="tabpanel">
        <div class="sv-tab-panel">
          <h3 class="english_data">Hydrogen Energy</h3>
          <p class="english_data">MNRE has been supporting a broad based Research Development and Demonstration (R&D) programme on
            Hydrogen Energy and Fuel. Projects are supported in industrial, academic and research institutions to
            address challenges in production of hydrogen from renewable energy sources, its safe and efficient
            storage, and its utilization for energy an transport applications through combustion or fuel cells. With
            respect to transportation, major work has been supported to Banaras Hindu University, IIT Delhi, and
            Mahindra & Mahindra. This has resulted in development and demonstration of internal combustion engines,
            two wheelers, three wheelers, and mini buses that run on hydrogen fuel. Two hydrogen refuelling stations
            have been established (one each at Indian Oil R&D Centre, Faridabad and National Institute of Solar
            Energy, Gurugram).</p>
            <h3 class="hindi_data">हाइड्रोजन ऊर्जा</h3>
            <p class="hindi_data">एमएनआरई ने हाइड्रोजन ऊर्जा और ईंधन पर आधारित एक व्यापक अनुसंधान विकास और प्रदर्शन (आरएंडडी) कार्यक्रम में सहयोग किया है। औद्योगिक, शैक्षणिक और अनुसंधान संस्थानों में नवीकरणीय ऊर्जा स्रोतों से हाइड्रोजन के उत्पादन, इसके सुरक्षित और कुशल भंडारण और दहन या ईंधन कोशिकाओं के माध्यम से परिवहन अनुप्रयोगों के लिए इसके उपयोग से संबंधित चुनौतियों का समाधान करने से संबंधित परियोजनाओं का समर्थन किया गया है। परिवहन के संबंध में, बनारस हिंदू विश्वविद्यालय, आईआईटी दिल्ली और महिंद्रा एंड महिंद्रा में बड़े कार्य को समर्थन दिया गया है। इसके परिणामस्वरूप हाइड्रोजन ईंधन पर चलने वाले आंतरिक दहन इंजन, दो पहिया, तीन पहिया वाहनों और मिनी बसों का विकास और प्रदर्शन किया गया है। दो हाइड्रोजन रिफ्यूलिंग स्टेशन स्थापित किए गए हैं (इंडियन ऑयल अनुसंधान विकास केंद्र, फरीदाबाद और राष्ट्रीय सौर ऊर्जा संस्थान, गुरुग्राम में एक-एक)।</p>
          <a href="/new-technologies/hydrogen-energy" class="_know_btn">Know More</a>
        </div>
      </div>
      <div class="tab-pane" id="pag4" role="tabpanel">
        <div class="sv-tab-panel">
          <h3 class="english_data">Geothermal</h3>
          <p class="english_data">Geo-thermal resources in India have been mapped by Geological Survey of India (GSI). Broad estimate
            suggests that there could be 10 GW geo-thermal power potential. Present efforts are towards establishing
            cost-competitive geo-thermal potential in India.</p>

            <h3 class="hindi_data">भूतापीय ऊर्जा</h3>
            <p class="hindi_data">भारत में भू-तापीय संसाधनों का मानचित्रण भारतीय भूवैज्ञानिक सर्वेक्षण (जीएसआई) द्वारा किया गया है। व्यापक अनुमान से पता चला है कि 10 जीडब्ल्यू भू-तापीय बिजली क्षमता संभावित है। भारत में लागत-कुशल भू-तापीय क्षमता स्थापित करने की दिशा में वर्तमान प्रयास किए जा रहे हैं।</p>
          <a href="/new-technologies/geo-thermal-energy" class="_know_btn">Know More</a>
        </div>
      </div>
      <div class="tab-pane" id="pag5" role="tabpanel">
        <div class="sv-tab-panel">
          <h3 class="english_data">Energy Storage</h3>
          <p class="english_data">Energy storage can play a very important role in grid integration and balancing of variable generation
            sources. By increasing the system’s overall flexibility, it can improve power quality, reduce peak
            demand, enhance capacity of distribution / transmission grids, avoid/reduce deviation penalties etc. Use
            of energy storage systems by residential, commercial or industrial consumers, in conjunction with
            renewable energy has potential to improve power quality and reliability for such consumers. This would
            also allow for minimization of diesel consumption from back-up power applications. Energy storage is the
            main component of EVs both in terms of cost and performance determination. The thrust for electric
            mobility utilizing indigenous modern and reliable energy storage would significantly reduce the
            country’s dependence on imported fossil fuels and energy storage systems. The NITI Aayog is coordinating
            the work relating to energy storage.</p>

            <h3 class="hindi_data">ऊर्जा भंडारण</h3>
            <p class="hindi_data">विभिन्न परिवर्तनशील उत्पादन स्रोतों के ग्रिडएकीकरण और संतुलन में ऊर्जा भंडारण बहुत महत्वपूर्ण भूमिका निभा सकता है। प्रणाली का कुल लचीलापन बढ़ाकर, यह बिजली की गुणवत्ता में सुधार कर सकता है, शीर्ष मांग (पीक डिमांड) कम कर सकता है, वितरण/ट्रांसमिशन ग्रिड की क्षमता बढ़ा सकता है, विचलन दंडों से बचाव/कमी हो सकती है। आवासीय, वाणिज्यिक या औद्योगिक उपभोक्ताओं द्वारा नवीकरणीय ऊर्जा के साथ ऊर्जा भंडारण प्रणालियों का उपयोग करने से ऐसे उपभोक्ताओं के लिए बिजली की गुणवत्ता और विश्वसनीयता में सुधार करने की क्षमता बढ़ेगी। यह बैक-अप बिजली वाले अनुप्रयोगों में डीजल की खपत में भी कमी लाएगा। लागत और प्रदर्शन निर्धारण के संदर्भ में ऊर्जा भंडारण ईवी का मुख्य घटक है। स्वदेशी आधुनिक और विश्वसनीय ऊर्जा भंडारण का उपयोग करने वाले इलेक्ट्रिक वाहनों के उपयोग पर जोर दिए जाने से आयातित जीवाश्म ईंधन और ऊर्जा भंडारण प्रणालियों पर देश की निर्भरता काफी कम हो जाएगी। नीति आयोग, ऊर्जा भंडारण से संबंधित कार्य का समन्वय कर रहा है।</p>
          <a href="/new-technologies/energy-storage" class="_know_btn">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var lang = '{{language}}';
    if(lang === 'EN'){
        $('.english_data').show();
        $('.hindi_data').hide();
    } else {
        $('.english_data').hide();
        $('.hindi_data').show();
    }
</script>