<div class="container-fluid wde">
    <h1 class="text-center wdet">Public Information</h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h2 class="energtext text-center">Notification</h2>
        </div>
    </div>
</div>

<div class="container h-100 mt-3">
		<div class="d-flex justify-content-center h-100">
			<div class="searchbar">
				<input class="search_input" type="text" name="" placeholder="Search for News">
				<a href="#" class="search_icon"><i class="fas fa-search"></i></a>
			</div>
            
		</div>
        <div class="row mt-2 sfilter">
        
                            <div class="col-sm-2">
                                <div class="form-group ">
                                    <select id="ilceler" class="form-control" >
                                        <option selected>Sort by</option>
                                        <option>Relevance</option>
                                        <option>Recency</option>
                                        <option>Popularity</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group ">
                                    <select id="arac-turu" class="form-control" >
                                        <option selected>Media type</option>
                                        <option>PDF</option>
                                        <option>Image</option>
                                        <option>Video</option>

                                    </select>
                                </div>
                            </div>
                        </div>
<div class="container mb-5">
    <div class="row pdf ml-5 mr-5 mt-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2015-2016</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
           
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png" width="20%"
                    style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2014-2015</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
            
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png" alt="view" width="20%"
                    style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2016-2017</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
            
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png" alt="view" width="20%"
                    style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2016-2017</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
            
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png" alt="view" width="20%"
                    style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2016-2017</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
            
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png" alt="view" width="20%"
                    style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2016-2017</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
            
        </div>
    </div>
    <div class="row pdf mt-4 ml-5 mr-5">
        <div class="col-sm-2 viewdoc">
            <span class="ml-5"><img src="/img/pdf-img.png" alt="view" width="20%"
                    style=" width: 20%;padding: 32px 0px 32px 11px;"></span>
                    
        </div>
        <div class="col-sm-10">
            <span class="date">2016-2017</span>
            <h4 class="guideh">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
            
        </div>
    </div>
</div>