<div class="content mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <a class="external_link" href="http://164.100.94.192/res/">
                    <img width="100%" src="/img/achievement.jpg" alt="">
                </a>
                
            </div>
            <div class="col-sm-4">
                <a class="external_link" href="http://10.247.7.149/pms">
                    <img width="100%" src="/img/trans_monitoring.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>