<div class="_page_head about-header">
    {{#ifCond language 'EN'}}
    <p class="_heading">{{{page_title}}}</p>
    {{else}}
    <p class="_heading">वास्तविक प्रगति</p>
    {{/ifCond}}
</div>

<main class="_page_wrapper">
   
    <div class="physical_progress_wrap">
        {{{overview}}}
    </div>

     
</main>