<div class="_page_head quality-bg">
    <p class="_heading">Lab Policy, Standards and Quality Control</p>
</div>
<main class="_page_wrapper lab_policy_page">
    <div>
        {{{OVERVIEW}}}
    </div>
</main>