
<div class="container-fluid rtihd">
    <h1 class="text-center rtihd">Right to information</h1>

</div>
<main class="mr-5 ml-5">
    <form>
        <!-- Sign up card -->


        <div class="row">
            <div class="col-md-12" style="padding=0.5em;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title rti">Public Authority Details</h2>
                        <div class="form-group">
                            <label class="my-1 mr-2" for="ddisabledSelect">Select Ministry/Department/Apex body</label>
                            <select class="custom-select my-1 mr-sm-2" id="disabledSelect">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="my-1 mr-2" for="ddisabledSelect">Select Public Authority</label>
                            <select class="custom-select my-1 mr-sm-2" id="disabledSelect">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <h2 class="card-title rti">Personal Details of RTI Applicant</h2>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" required>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Gender</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Address</label>
                            <input type="text" class="form-control" id="name" placeholder="Line 1" required><br>
                            <input type="text" class="form-control" id="name" placeholder="Line 2" required><br>
                            <input type="text" class="form-control" id="name" placeholder="Line 3" required><br>

                        </div>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Pincode</label>
                            <input type="text" class="form-control" id="name" placeholder="pincode" required><br>
                        </div>
                        <div class="form-row mt-2">
                            <legend class="col-form-label col-sm-2 pt-0">Country</legend>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        India
                                    </label>
                                    </label>
                                </div>

                            </div>
                        



                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Other
                                    </label>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">State</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>


                            </div>
                            <div class="form-row mt-2">
                            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Rural
                                    </label>
                                    </label>
                                </div>

                            </div>
                        



                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                       Urban
                                    </label>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <legend class="col-form-label col-sm-2 pt-0">Education</legend>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Literate
                                    </label>
                                    </label>
                                </div>

                            </div>
                        



                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Illetrate
                                    </label>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Phone</label>
                            <input type="text" class="form-control" id="name" placeholder="mobile" required><br>
                        </div>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Email ID</label>
                            <input type="text" class="form-control" id="name" placeholder="email" required><br>
                        </div>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Confirm Email</label>
                            <input type="text" class="form-control" id="name" placeholder="confirm email" required><br>
                        </div>

                         <h2 class="card-title rti mt-4">Request Details</h2>
                         <div class="form-group">
                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Citizenship (Only India citizen can file an RTI application)</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>


                            </div>
                            <div class="form-group">
                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Is the applicant below poverty line?</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>


                            </div>
                            <p class="rtinote">Note:- only alphabets A-z a-z number 0-9 and special character ,-_()/@:&\% are allowed in Text for RTI request application</p>
                            <div class="form-row">
                            <label for="name" class="col-form-label">Text for RTI application</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-row">
                            <label for="name" class="col-form-label">Supporting Documents</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>

                    </div>
                </div>


            </div>
            <div class="rtibt" style="margin-top: 1em;margin-bottom:100px;">
                <button type="button" class="btn btn-primary btn-lg bap">Submit</button>
            </div>
    </form>
</main>
<script>
    // Default date and time picker
    $('#datetimepicker-default').datetimepicker();
</script>