<div class="_page_head solar-bg">
    <p class="_heading english_data">Solar RPO and REC Framework</p>
    <p class="_heading hindi_data">सोलर आरपीओ और आरईसी रूपरेखा</p>
</div>

<div class="_page_wrapper _solar_rpo">
    <p class="english_data">
        Among the various renewable energy resources, solar energy potential is the highest in the country. In most
        parts of India, clear sunny weather is experienced 250 to 300 days a year. The annual radiation varies from
        1600 to 2200 kWh/m2, which is comparable with radiation received in the tropical and sub-tropical regions.
        The equivalent energy potential is about 6,000 million GWh of energy per year.<br /><br />
        The National Action Plan on Climate Change also points out: “India is a tropical country, where sunshine is
        available for longer hours per day and in great intensity. Solar energy, therefore, has great potential as
        future energy source. It also has the advantage of permitting the decentralized distribution of energy,
        thereby empowering people at the grassroots level”.<br /><br />
        With the objective to establish India as a global leader in solar energy, by creating the policy conditions
        for its diffusion across the country as quickly as possible Government of India launched National Solar
        Mission.<br /><br />
        The National Tariff Policy was amended in January 2011 to prescribe solar-specific RPO be increased from a
        minimum of 0.25 per cent in 2012 to 3 per cent by 2022. CERC and SERCs have issued various regulations
        including solar RPOs, REC framework, tariff, grid connectivity, forecasting etc. for promoting solar energy.
        Many States have come up with up their own Solar Policy.<br /><br />
        In view of the ongoing efforts of Central and State Governments and various agencies for promoting solar
        energy, Ministry of New and Renewable Energy has undertaken an exercise to track and analyze the issues in
        fulfillment of Solar Power Purchase Obligation and implementation of Solar REC framework in India. This
        would help various stakeholders to understand the challenges and opportunities in the development of solar
        power. It would also include monitoring of Solar RPO Compliance; analyzing key issues related to the
        regulatory framework for solar in various states of India.<br /><br />
        The information has been divided into following categories:</p>

    <p class="hindi_data">देश में विभिन्न नवीकरणीय ऊर्जा संसाधनों में से, सौर ऊर्जा की संभावित क्षमता सर्वाधिक है। भारत
        के अधिकांश हिस्सों में, वर्ष में 250 से 300 दिन अच्छी धूप होती है। वार्षिक विकिरण 1600 से 2200 केडब्ल्यूएच/मी2
        तक अलग-अलग है, जो उष्णकटिबंधीय और उपोष्णकटिबंधीय क्षेत्रों में प्राप्त विकिरण से तुलनीय है। समतुल्य ऊर्जा क्षमता
        लगभग 6,000 मिलियन जीडब्ल्यूएच ऊर्जा प्रति वर्ष है।<br /><br />
        जलवायु परिवर्तन पर राष्ट्रीय कार्य योजना में भी यह इंगित किया गया हैः “भारत एक उष्णकटिबंधीय देश है, जहाँ धूप
        प्रतिदिन अधिक समय तक और अधिक तीव्रता के साथ उपलब्ध होती है। इसलिए, भविष्य के ऊर्जा स्रोत के रूप में सौर ऊर्जा
        में काफी संभावनाएं हैं। इसमें ऊर्जा वितरण के विकेंद्रीकरण का भी लाभ है, जिससे निचले स्तर पर लोगों का सशक्तिकरण
        होता है।<br /><br />
        सौर ऊर्जा में भारत को वैश्विक अग्रणी के रूप में स्थापित करने के उद्देश्य से, देश भर में इसके शीघ्रातिशीघ्र
        प्रसार के लिए नीतिगत परिस्थितियां बनाने के साथ भारत सरकार ने राष्ट्रीय सोलर मिशन आरंभ किया।<br /><br />
        जनवरी 2011 में राष्ट्रीय टैरिफ नीति को संशोधित करते हुए सोलर-विशिष्ट आरपीओ को 2012 में न्यूनतम 0.25 प्रतिशत से
        बढ़ाकर 2022 तक 3 प्रतिशत करने के लिए निर्दिष्ट किया गया। सौर ऊर्जा को बढ़ावा देने के लिए सीईआरसी और एसईआरसी ने
        सोलर आरपीओ, आरईसी रूपरेखा, टैरिफ, ग्रिड कनेक्टिविटी, पूर्वानुमान आदि सहित कई नियम जारी किए। कई राज्यों ने अपनी
        खुद की सोलर नीति लागू की है।<br /><br />
        सौर ऊर्जा को बढ़ावा देने के लिए केंद्र और राज्य सरकारों और विभिन्न एजेंसियों के जारी प्रयासों को देखते हुए, नवीन
        और नवीकरणीय ऊर्जा मंत्रालय ने भारत में सौर ऊर्जा खरीद दायित्व की पूर्ति और सोलर आरईसी रूपरेखा के क्रियान्वयन के
        मामलों की निगरानी और विश्लेषण का कार्य संभाला है। इससे विभिन्न हितधारकों को सौर ऊर्जा के विकास से जुड़ी चुनौतियां
        और अवसर समझने में मदद मिलेगी। सोलर आरपीओ अनुपालन की निगरानी: भारत के विभिन्न राज्यों में सोलर के लिए नियामकीय
        रूपरेखा से संबंधित प्रमुख मुद्दों का विश्लेषण भी इसमें सम्मिलित है।<br /><br />
        जानकारी को निम्न श्रेणियों में बांटा गया है:
    </p>

    <ul class="english_data">
        <li>State-wise solar RPO targets</li>
        <li>State Solar Policies</li>
        <li>Solar RPO Requirement by 2022</li>
        <li>Solar RPO Calculator</li>
        <li>State-wise solar installed capacity break- up</li>
        <li>Expected Solar RPO requirement and compliance for 2012-13</li>
        <li>Expected Solar RPO requirement and compliance for 2013-14</li>
        <li>Analysis of State RPO Regulations</li>
        <li>Update on Solar REC Market</li>
        <li>Analysis of SERCs RPO regulation for Captive Users></li>
    </ul>
    <ul class="hindi_data">
        <li>राज्यवार सोलर आरपीओ लक्ष्य</li>
        <li>राज्य सोलर नीतियां</li>
        <li>2022 तक सोलर आरपीओ आवश्यकताएं</li>
        <li>सोलर आरपीओ कैलकुलेटर</li>
        <li>राज्यवार स्थापित सोलर क्षमता का विभाजन</li>
        <li>2012-13 के लिए अपेक्षित सोलर आरपीओ और अनुपालन</li>
        <li>2013-14 के लिए अपेक्षित सोलर आरपीओ और अनुपालन</li>
        <li>राज्य आरपीओ विनियमों का विश्लेषण</li>
        <li>सोलर आरईसी बाज़ार संबंधी नई जानकारी</li>
        <li>कैप्टिव उपयोक्ताओं के लिए एसईआरसी के आरपीओ विनियमन का विश्लेषण</li>
    </ul>
    <p class="english_data">
        Utmost care has been taken to compile the information, however, in case of any discrepancy or further
        clarification the primary source only may be treated as authentic
    </p>
    <p class="hindi_data">जानकारी संकलित करने के लिए अत्यन्त सावधानी रखी गई है, हालांकि, किसी विसंगति या अग्रिम स्पष्टीकरण के मामले में केवल प्राथमिक स्रोत को ही प्रामाणिक माना जाना चाहिए।</p>
</div>

<script>
    var lang = '{{language}}';
    if(lang === 'EN'){
        $('.english_data').show();
        $('.hindi_data').hide();
    } else {
        $('.english_data').hide();
        $('.hindi_data').show();
    }
</script>