<div class="container-fluid policies mb-5">
    <h1 class="text-center wdet">Supporting Programme</h1>

</div>
<div class="filter">
        <div class="row filter-bc _policy_dropdown">
        <div class="col">
            <div class="search-option">

                <label for="f184318d184322" class="sr-only">Format</label>
                <select title="Format" id="f184318d184322" name="documentType_" class="form-control"
                    onChange="window.location.href=this.value">
                    <option title="solar" value="/public-information/result-framework-document">RFD</option>
                    <option title="solar" value="/public-information/policies-and-guidelines">Policies</option>
                    <option title="solar" value="/public-information/presentations">Presentations</option>
                    <option title="solar" value="/public-information/advertisements">Advertisements</option>
                    <option title="solar" value="/public-information/events">Events</option>
                    <option title="solar" value="/public-information/reports">Reports</option>
                    <option title="solar" value="/public-information/circulars">Circulars</option>
                    <option title="solar" value="/public-information/notifications">Notifications</option>
                    <option title="solar" value="/public-information/accounts">Accounts</option>
                    <option title="solar" value="/public-information/supporting-programme">Supporting Programme</option>
                    <option title="solar" value="/public-information/designated-authority-and-nodal-officer">Designated Authority and Nodal Officer under (PIDPI)</option>
                    <option title="solar" value="/public-information/compendium">Compendium of Regulations and Policies on RE</option>
                </select>
            </div>

        </div>
       
       
    </div>
</div>
<main class="ml-5 mr-5 mb-5 mt-5">
<div class="content-text">
<div class="margin_boo">
{{{overview}}}
</div>
    
    </div>
    </main>